# Discrepancy in the Data

### Data Upload and Primary Analysis

##### Import Libraries

In [1]:
import pandas as pd
import datetime as dt
import numpy as np
from IPython.display import display

In [2]:
class Color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

#Not necesssary currently

# def returns_missing_index(comparared_list, a_list):

#     for index, element in enumerate(comparared_list):
        
#         if element not in a_list:
            
#             a_list.insert(index, np.NaN)

#     return a_list


def insert_row(row_number, df, row_value):
	# Starting value of upper half
	start_upper = 0

	# End value of upper half
	end_upper = row_number

	# Start value of lower half
	start_lower = row_number

	# End value of lower half
	end_lower = df.shape[0]

	# Create a list of upper_half index
	upper_half = [*range(start_upper, end_upper, 1)]

	# Create a list of lower_half index
	lower_half = [*range(start_lower, end_lower, 1)]

	# Increment the value of lower half by 1
	lower_half = [x.__add__(1) for x in lower_half]

	# Combine the two lists
	index_ = upper_half + lower_half

	# Update the index of the dataframe
	df.index = index_

	# Insert a row at the end
	df.loc[row_number] = row_value

	# Sort the index labels
	df = df.sort_index()

	# return the dataframe
	return df

# Let's create a row which we want to insert

##### Load Dataset

In [3]:
UNIQUE_DF = pd.read_csv('2022_05280528_CD.csv')

### Data Analysis

##### Peeking into the data

In [4]:
UNIQUE_DF.head(2)

,Create Date,tenant_name,robot_code,robot_name,from_id,from_name,Session_id,Intention,user_id,Seller id (X-space),...,Feedback Card Response,is_chat_recommend,is_chat_no answer,is_chat_pre/post match,live agent_session_id,Last Query Before Live Agent Session,Live Agent User Query,Live Agent Response,Feedback Type,Unsatisfied Reason
0,2022-05-28 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,V3EasrtOgs,BD-Daz-EN-HC-App,0123f9623b6444369df512399738c36a,route_daraz_liveagent,2101100071711721,7.000436e+11,...,NaN,N,N,N,6e463e7d5ce440ceb086b768e4279f78,Connecting to Agent,Ok|||Cashback কি আছে এখনো|||Bkash Offer কি শেষ...,"আর কোনভাবে সহযোগিতা করতে পারি কি, স্যার? |||H...",NaN,NaN
1,2022-05-28 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,V3EasrtOgs,BD-Daz-EN-HC-App,01f4e67c763f4cd29804bcc5166b3942,route_daraz_others,2101100017841168,1.591752e+06,...,NaN,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
UNIQUE_DF.tail(2)

,Create Date,tenant_name,robot_code,robot_name,from_id,from_name,Session_id,Intention,user_id,Seller id (X-space),...,Feedback Card Response,is_chat_recommend,is_chat_no answer,is_chat_pre/post match,live agent_session_id,Last Query Before Live Agent Session,Live Agent User Query,Live Agent Response,Feedback Type,Unsatisfied Reason
25140,2022-05-28 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,V3EasrtOgs,BD-Daz-EN-HC-App,ff68a7d5d4fd4bf5b23dc11f4b639561,route_daraz_others,2101100081631151,7.005142e+11,...,NaN,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN
25141,2022-05-28 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,2QpojyCHcD,BD-Daz-EN-DD-App,ffbdc015fdbe4996879612171febf3cd,route_daraz_others,2101100052535303,9.220500e+04,...,NaN,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN

##### Number of data

In [6]:
UNIQUE_DF.shape[0]

25142

##### Beautifying data

In [7]:
UNIQUE_DF['Seller id (X-space)'] = UNIQUE_DF['Seller id (X-space)'].apply(lambda x: '%.0f' % x).astype(str)

In [8]:
UNIQUE_NOTNA_DF = UNIQUE_DF[UNIQUE_DF['live agent_session_id'].notna()].reset_index()

##### Number of data after beautifying

In [9]:
UNIQUE_NOTNA_DF.shape[0]

6827

##### Finding unique session ids

In [11]:
UNIQUE_NOTNA_DF_NO_DUPLICATES = UNIQUE_NOTNA_DF.drop_duplicates(subset='live agent_session_id', keep = 'first')

In [12]:
UNIQUE_NOTNA_DF_NO_DUPLICATES.shape[0]

1573

In [13]:
UNIQUE_NOTNA_DF_NO_DUPLICATES.reset_index(inplace=True)

In [15]:
UNIQUE_NOTNA_DF_NO_DUPLICATES = UNIQUE_NOTNA_DF_NO_DUPLICATES.drop(labels=['level_0', 'index'], axis = 1)

In [14]:
#### A random seller ID for testing purpose
#UNIQUE_RANDOM_VALUES = UNIQUE_NOTNA_DF_NO_DUPLICATES.sample(axis=0)
#a_random_seller_id = UNIQUE_RANDOM_VALUES['Seller id (X-space)'].to_list()[0]

In [16]:
UNIQUE__TABLE = UNIQUE_NOTNA_DF_NO_DUPLICATES.groupby(as_index = False, by =['Seller id (X-space)']).count()

In [16]:
UNIQUE__TABLE[['Seller id (X-space)', 'live agent_session_id']].to_clipboard()

In [17]:
UNIQUE__TABLE.iloc[[1]]

,Seller id (X-space),Create Date,tenant_name,robot_code,robot_name,from_id,from_name,Session_id,Intention,user_id,...,Feedback Card Response,is_chat_recommend,is_chat_no answer,is_chat_pre/post match,live agent_session_id,Last Query Before Live Agent Session,Live Agent User Query,Live Agent Response,Feedback Type,Unsatisfied Reason
1,1029202,4,4,4,4,4,4,4,4,4,...,0,4,4,4,4,4,3,4,0,0

In [16]:
UNIQUE__TABLE[['Seller id (X-space)', 'live agent_session_id']]

     Seller id (X-space)  live agent_session_id
0                 100457                      1
1                1029202                      4
2                1030858                      1
3                1031601                      1
4                1032129                      1
...                  ...                    ...
1265              978212                      1
1266              979108                      1
1267              986097                      1
1268              986831                      1
1269              991746                      2

[1270 rows x 2 columns]

#### Choosing a random data with three sessions

#### Choosing a random data

In [90]:
sample_input = []

while True:

    input_sample_number = input('Enter the count of live agent session ids and then enter the number of samples. Press "q" to exit:')

    if 'q' in input_sample_number:

        break

    sample_input.append(int(input_sample_number))

In [29]:
X = UNIQUE__TABLE[UNIQUE__TABLE['live agent_session_id'] == sample_input[0]]['Seller id (X-space)'].sample(n=sample_input[1], axis = 0).to_list()

In [30]:
print(Color.GREEN + "Enter the following numbers in Xspace" + Color.GREEN)

for i in X:

    print(i)

Enter the following numbers in Xspace
258139
700036896929
700013847484

In [32]:

agent_session_id_xspace = []

for i in X:

    while True:

        an_input = input('Enter the X-space live agent session ID! for press q for exit')

        if 'q' in an_input:

            break

        agent_session_id_xspace.append((i, an_input))

In [33]:
agent_session_id_xspace

[('258139', 'e0682f60a85c40758c58e5ecb5901c8d'),
 ('258139', 'ac874e051c3d4c6485cdfa827056db4b'),
 ('258139', 'b77c92792fc14ed1b8a5683a2c5f32fb'),
 ('700036896929', '0736be77a45a4fc19f8087bb2ee0c22e'),
 ('700036896929', '96cd5f430a0d4a15bc89bff90a6c8b98'),
 ('700036896929', '362f2bd99167468f8119c92e0b78049a'),
 ('700013847484', '7b90aee393514336a890aca558bc9dba'),
 ('700013847484', 'f02e4cd637cb4e50bafbe326943350ea'),
 ('700013847484', '6ae812b9a4b34f27912052871624210a')]

In [22]:
UNIQUE_NOTNA_DF_NO_DUPLICATES['Seller id (X-space)']

0       700043568806
1            1590113
2       700034547227
3       700025157222
4            1825541
            ...
1568         1032129
1569    700516125128
1570    700515741606
1571    700000936088
1572    700014843562
Name: Seller id (X-space), Length: 1573, dtype: object

In [122]:
UNIQUE_sample = UNIQUE_NOTNA_DF_NO_DUPLICATES[UNIQUE_NOTNA_DF_NO_DUPLICATES['Seller id (X-space)'].isin(X)][['Seller id (X-space)','live agent_session_id']]

In [123]:
# for i in range(len(UNIQUE_sample)):

# UNIQUE_sample_sorted = UNIQUE_sample.sort_values(by='live agent_session_id', ascending=False).drop(labels='index', axis=1)

UNIQUE_sample_sorted = UNIQUE_sample.sort_values(by='Seller id (X-space)', ascending=False)

In [124]:
UNIQUE_sample_sorted.reset_index(inplace=True)

In [125]:
UNIQUE_sample_sorted['index'] = 0

In [126]:
UNIQUE_sample_sorted['live agent_session_id_from_xspace'] = 0

In [127]:
UNIQUE_sample_sorted

,index,Seller id (X-space),live agent_session_id,live agent_session_id_from_xspace
0,0,700036896929,96cd5f430a0d4a15bc89bff90a6c8b98,0
1,0,700036896929,362f2bd99167468f8119c92e0b78049a,0
2,0,700036896929,0736be77a45a4fc19f8087bb2ee0c22e,0
3,0,700013847484,7b90aee393514336a890aca558bc9dba,0
4,0,700013847484,6ae812b9a4b34f27912052871624210a,0
5,0,700013847484,f02e4cd637cb4e50bafbe326943350ea,0
6,0,258139,b77c92792fc14ed1b8a5683a2c5f32fb,0
7,0,258139,e0682f60a85c40758c58e5ecb5901c8d,0
8,0,258139,ac874e051c3d4c6485cdfa827056db4b,0

In [128]:
for i in agent_session_id_xspace:

    if i[1] not in UNIQUE_sample_sorted['live agent_session_id'].values:

        row_number = UNIQUE_sample_sorted[UNIQUE_sample_sorted['Seller id (X-space)'] == i[0]].index[0]

        row_value = [0, i[0], np.nan, i[1]]

        UNIQUE_sample_sorted = insert_row (row_number, UNIQUE_sample_sorted, row_value)

    elif i[1] in UNIQUE_sample_sorted['live agent_session_id'].values:

        new_row_number = UNIQUE_sample_sorted[UNIQUE_sample_sorted['live agent_session_id'] == i[1]].index[0]
        
        UNIQUE_sample_sorted['live agent_session_id_from_xspace'][new_row_number] = i[1]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_16428/3065128071.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  UNIQUE_sample_sorted['live agent_session_id_from_xspace'][new_row_number] = i[1]
c:\Users\Daraz\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [129]:
UNIQUE_sample_sorted

,index,Seller id (X-space),live agent_session_id,live agent_session_id_from_xspace
0,0,700036896929,96cd5f430a0d4a15bc89bff90a6c8b98,96cd5f430a0d4a15bc89bff90a6c8b98
1,0,700036896929,362f2bd99167468f8119c92e0b78049a,362f2bd99167468f8119c92e0b78049a
2,0,700036896929,0736be77a45a4fc19f8087bb2ee0c22e,0736be77a45a4fc19f8087bb2ee0c22e
3,0,700013847484,7b90aee393514336a890aca558bc9dba,7b90aee393514336a890aca558bc9dba
4,0,700013847484,6ae812b9a4b34f27912052871624210a,6ae812b9a4b34f27912052871624210a
5,0,700013847484,f02e4cd637cb4e50bafbe326943350ea,f02e4cd637cb4e50bafbe326943350ea
6,0,258139,b77c92792fc14ed1b8a5683a2c5f32fb,b77c92792fc14ed1b8a5683a2c5f32fb
7,0,258139,e0682f60a85c40758c58e5ecb5901c8d,e0682f60a85c40758c58e5ecb5901c8d
8,0,258139,ac874e051c3d4c6485cdfa827056db4b,ac874e051c3d4c6485cdfa827056db4b

In [130]:
UNIQUE_sample_sorted['index'] = UNIQUE_sample_sorted.groupby(by='Seller id (X-space)').cumcount()+1

In [131]:
UNIQUE_sample_sorted['index'] = UNIQUE_sample_sorted['index'].astype(str)

In [132]:
UNIQUE_sample_sorted

,index,Seller id (X-space),live agent_session_id,live agent_session_id_from_xspace
0,1,700036896929,96cd5f430a0d4a15bc89bff90a6c8b98,96cd5f430a0d4a15bc89bff90a6c8b98
1,2,700036896929,362f2bd99167468f8119c92e0b78049a,362f2bd99167468f8119c92e0b78049a
2,3,700036896929,0736be77a45a4fc19f8087bb2ee0c22e,0736be77a45a4fc19f8087bb2ee0c22e
3,1,700013847484,7b90aee393514336a890aca558bc9dba,7b90aee393514336a890aca558bc9dba
4,2,700013847484,6ae812b9a4b34f27912052871624210a,6ae812b9a4b34f27912052871624210a
5,3,700013847484,f02e4cd637cb4e50bafbe326943350ea,f02e4cd637cb4e50bafbe326943350ea
6,1,258139,b77c92792fc14ed1b8a5683a2c5f32fb,b77c92792fc14ed1b8a5683a2c5f32fb
7,2,258139,e0682f60a85c40758c58e5ecb5901c8d,e0682f60a85c40758c58e5ecb5901c8d
8,3,258139,ac874e051c3d4c6485cdfa827056db4b,ac874e051c3d4c6485cdfa827056db4b

In [133]:
Index_array = [UNIQUE_sample_sorted['Seller id (X-space)'].to_list(), UNIQUE_sample_sorted['index'].to_list()]

In [134]:
Index_array

[['700036896929',
  '700036896929',
  '700036896929',
  '700013847484',
  '700013847484',
  '700013847484',
  '258139',
  '258139',
  '258139'],
 ['1', '2', '3', '1', '2', '3', '1', '2', '3']]

In [135]:
arr_tuples_of_index = list(zip(*Index_array))

In [136]:
UNIQUE_sample.reset_index(inplace=True)

In [137]:
len(UNIQUE_sample.index)

9

In [138]:
arr_tuples_of_index

[('700036896929', '1'),
 ('700036896929', '2'),
 ('700036896929', '3'),
 ('700013847484', '1'),
 ('700013847484', '2'),
 ('700013847484', '3'),
 ('258139', '1'),
 ('258139', '2'),
 ('258139', '3')]

In [139]:
df_column = pd.MultiIndex.from_tuples(arr_tuples_of_index, names=['Buyer ID', 'Serial'])

In [140]:
agent_session_id_xspace

[('258139', 'e0682f60a85c40758c58e5ecb5901c8d'),
 ('258139', 'ac874e051c3d4c6485cdfa827056db4b'),
 ('258139', 'b77c92792fc14ed1b8a5683a2c5f32fb'),
 ('700036896929', '0736be77a45a4fc19f8087bb2ee0c22e'),
 ('700036896929', '96cd5f430a0d4a15bc89bff90a6c8b98'),
 ('700036896929', '362f2bd99167468f8119c92e0b78049a'),
 ('700013847484', '7b90aee393514336a890aca558bc9dba'),
 ('700013847484', 'f02e4cd637cb4e50bafbe326943350ea'),
 ('700013847484', '6ae812b9a4b34f27912052871624210a')]

In [141]:
a_numpy = UNIQUE_sample_sorted[['live agent_session_id','live agent_session_id_from_xspace']].to_numpy()

In [142]:
df_multi_level_cols2 = pd.DataFrame(a_numpy, index=df_column, columns=['live agent session ID from dataset', 'live agent session ID from Xspace'])

In [143]:
df_multi_level_cols2

                    live agent session ID from dataset  \
Buyer ID     Serial
700036896929 1        96cd5f430a0d4a15bc89bff90a6c8b98
             2        362f2bd99167468f8119c92e0b78049a
             3        0736be77a45a4fc19f8087bb2ee0c22e
700013847484 1        7b90aee393514336a890aca558bc9dba
             2        6ae812b9a4b34f27912052871624210a
             3        f02e4cd637cb4e50bafbe326943350ea
258139       1        b77c92792fc14ed1b8a5683a2c5f32fb
             2        e0682f60a85c40758c58e5ecb5901c8d
             3        ac874e051c3d4c6485cdfa827056db4b

                    live agent session ID from Xspace
Buyer ID     Serial
700036896929 1       96cd5f430a0d4a15bc89bff90a6c8b98
             2       362f2bd99167468f8119c92e0b78049a
             3       0736be77a45a4fc19f8087bb2ee0c22e
700013847484 1       7b90aee393514336a890aca558bc9dba
             2       6ae812b9a4b34f27912052871624210a
             3       f02e4cd637cb4e50bafbe326943350ea
258139       1       b77c92792fc14ed1b8a5683a2c5f32fb
             2       e0682f60a85c40758c58e5ecb5901c8d
             3       ac874e051c3d4c6485cdfa827056db4b

In [108]:
df_multi_level_cols2['live agent session ID from Xspace'] = np.nan

In [109]:
df_multi_level_cols2

                    live agent session ID from dataset  \
Buyer ID     Serial
700036896929 1        96cd5f430a0d4a15bc89bff90a6c8b98
             2        362f2bd99167468f8119c92e0b78049a
             3        0736be77a45a4fc19f8087bb2ee0c22e
700013847484 1        7b90aee393514336a890aca558bc9dba
             2        6ae812b9a4b34f27912052871624210a
             3        f02e4cd637cb4e50bafbe326943350ea
258139       1        b77c92792fc14ed1b8a5683a2c5f32fb
             2        e0682f60a85c40758c58e5ecb5901c8d
             3        ac874e051c3d4c6485cdfa827056db4b

                     live agent session ID from Xspace
Buyer ID     Serial
700036896929 1                                     NaN
             2                                     NaN
             3                                     NaN
700013847484 1                                     NaN
             2                                     NaN
             3                                     NaN
258139       1                                     NaN
             2                                     NaN
             3                                     NaN

In [113]:
df_test = df_multi_level_cols2.style.applymap(lambda x: 'color: red' if pd.isna(x) else '')

In [114]:
df_test

In [11]:
import pandas as pd
import openpyxl

In [12]:
df2 = pd.DataFrame({"c": [3, 5], "d": [8, 9]})
df3 = pd.DataFrame({"c": [9, 10], "d": [-1, -9]})  
df4 = pd.DataFrame({"a": [1, 2], "b": [3, 4]})

In [8]:
df2

   c  d
0  3  8
1  5  9

In [16]:
with pd.ExcelWriter('./Order_List7.xlsx', mode='w') as writer:
    df2.to_excel(writer, index=False)

In [21]:
with pd.ExcelWriter('./Order_List7.xlsx', mode="a", if_sheet_exists="overlay", engine='openpyxl') as writer:
    df3.to_excel(writer, startrow = 1, header=False, index=False)
#     df4.to_excel(writer, startrow = 1, header=False, index=False)

In [15]:
pd.__version__

'1.4.2'

In [101]:
test_df['livve agent session ID from Xspace'] = 0

In [102]:
test_df

                    live agent session ID from dataset  \
Buyer ID     Serial
700036896929 1        96cd5f430a0d4a15bc89bff90a6c8b98
             2        362f2bd99167468f8119c92e0b78049a
             3        0736be77a45a4fc19f8087bb2ee0c22e
700013847484 1        7b90aee393514336a890aca558bc9dba
             2        6ae812b9a4b34f27912052871624210a
             3        f02e4cd637cb4e50bafbe326943350ea
258139       1        b77c92792fc14ed1b8a5683a2c5f32fb
             2        e0682f60a85c40758c58e5ecb5901c8d
             3        ac874e051c3d4c6485cdfa827056db4b

                     livve agent session ID from Xspace
Buyer ID     Serial
700036896929 1                                        0
             2                                        0
             3                                        0
700013847484 1                                        0
             2                                        0
             3                                        0
258139       1                                        0
             2                                        0
             3                                        0

In [42]:
# df_multi_level_cols2['live_agent_session_id_xspace'] = 0

In [84]:
# df_multi_level_cols2['live_agent_session_id_xspace'][('700028694726', '1')] = 24

C:\Users\Daraz\AppData\Local\Temp/ipykernel_15136/3122490542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_multi_level_cols2['live_agent_session_id_xspace'][('700028694726', '1')] = 24

In [86]:
# xspace_id = ['3fb6c73c48fa4b2aaf55415c4eb1e35e', '6a57fb2e9c194cc0869fe1dbb332addb', '4eab8309d9dc4226980c1755472d484b', 'c988db218499450495931df84c7990ce']
# found_id = ['6a57fb2e9c194cc0869fe1dbb332addb', '4eab8309d9dc4226980c1755472d484b', 'c988db218499450495931df84c7990ce']

In [114]:
# df_multi_level_cols2.loc['700007031570', '1']

0                               6a57fb2e9c194cc0869fe1dbb332addb
live_agent_session_id_xspace                                   0
Name: (700007031570, 1), dtype: object

In [121]:
# df_multi_level_cols2.columns

Index([0, 'live_agent_session_id_xspace'], dtype='object')

In [124]:
# df_multi_level_cols2['live_agent_session_id_xspace'].append()

C:\Users\Daraz\AppData\Local\Temp/ipykernel_15136/735362508.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_multi_level_cols2['live_agent_session_id_xspace']['700007031570', '1'] = 345

In [118]:
# for i in range(1, (len(df_multi_level_cols2.loc['700007031570']) + 1)):

#     j = str(i)

#     x = df_multi_level_cols2.loc['700007031570', j]
    
#     if x[0] in xspace_id:

#         df_multi_level_cols2['live_agent_session_id_xspace']['700007031570', j] = x[0]
    
#     else:


# def f(x):
#     return x.append(pd.DataFrame('', columns=df.columns, index=[(x.name, '')]))


# def f(x):
#     x.loc[('', ''), :] = ''
#     return x

6a57fb2e9c194cc0869fe1dbb332addb
4eab8309d9dc4226980c1755472d484b
c988db218499450495931df84c7990ce

In [103]:
# for label, content in df_multi_level_cols2.items():
#     print(f'label: {label}')
#     print(f'content: {content}', sep='\n')

label: 0
content: Buyer ID      Serial
700028694726  1         10a39bc84f36450c828161a8db07d662
              2         7463be00303446ab920ebd57428160e3
              3         49368689282546d189bf0a312312f5fe
700023282820  1         9ed6d483bc77463bb82efb425cf80de6
              2         c3eeeb05e4354a298c379a0cb1b4bdd0
              3         b09b3a8496754b548aff8855eab31179
700013847484  1         7b90aee393514336a890aca558bc9dba
              2         6ae812b9a4b34f27912052871624210a
              3         f02e4cd637cb4e50bafbe326943350ea
700007031570  1         6a57fb2e9c194cc0869fe1dbb332addb
              2         4eab8309d9dc4226980c1755472d484b
              3         c988db218499450495931df84c7990ce
1489794       1         5815f9ff18434ceba16dc44bab7fbfaa
              2         c339844b3feb424799523d91e044bbeb
              3         b041459fc2664832a4a938d8bef50419
Name: 0, dtype: object
label: live_agent_session_id_xspace
content: Buyer ID      Serial
700028694726  1         24
              2          0
              3          0
700023282820  1          0
              2          0
              3          0
700013847484  1          0
              2          0
              3          0
700007031570  1          0
              2          0
              3          0
1489794       1          0
              2          0
              3          0
Name: live_agent_session_id_xspace, dtype: int64

In [85]:
# df_multi_level_cols2

                                                    0  \
Buyer ID     Serial
700028694726 1       10a39bc84f36450c828161a8db07d662
             2       7463be00303446ab920ebd57428160e3
             3       49368689282546d189bf0a312312f5fe
700023282820 1       9ed6d483bc77463bb82efb425cf80de6
             2       c3eeeb05e4354a298c379a0cb1b4bdd0
             3       b09b3a8496754b548aff8855eab31179
700013847484 1       7b90aee393514336a890aca558bc9dba
             2       6ae812b9a4b34f27912052871624210a
             3       f02e4cd637cb4e50bafbe326943350ea
700007031570 1       6a57fb2e9c194cc0869fe1dbb332addb
             2       4eab8309d9dc4226980c1755472d484b
             3       c988db218499450495931df84c7990ce
1489794      1       5815f9ff18434ceba16dc44bab7fbfaa
             2       c339844b3feb424799523d91e044bbeb
             3       b041459fc2664832a4a938d8bef50419

                     live_agent_session_id_xspace
Buyer ID     Serial
700028694726 1                                 24
             2                                  0
             3                                  0
700023282820 1                                  0
             2                                  0
             3                                  0
700013847484 1                                  0
             2                                  0
             3                                  0
700007031570 1                                  0
             2                                  0
             3                                  0
1489794      1                                  0
             2                                  0
             3                                  0

In [71]:
# print(df_multi_level_cols2.groupby(level=0))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001791A4D5340>

In [77]:
# # for i, j in enumerate(df_multi_level_cols2['live_agent_session_id_xspace']):
# for i, j in enumerate(df_multi_level_cols2[0]):

#     print(j)

10a39bc84f36450c828161a8db07d662
7463be00303446ab920ebd57428160e3
49368689282546d189bf0a312312f5fe
9ed6d483bc77463bb82efb425cf80de6
c3eeeb05e4354a298c379a0cb1b4bdd0
b09b3a8496754b548aff8855eab31179
7b90aee393514336a890aca558bc9dba
6ae812b9a4b34f27912052871624210a
f02e4cd637cb4e50bafbe326943350ea
6a57fb2e9c194cc0869fe1dbb332addb
4eab8309d9dc4226980c1755472d484b
c988db218499450495931df84c7990ce
5815f9ff18434ceba16dc44bab7fbfaa
c339844b3feb424799523d91e044bbeb
b041459fc2664832a4a938d8bef50419

In [52]:
# df_multi_level_cols2[0][('700028694726','2')]

'7463be00303446ab920ebd57428160e3'

In [ ]:
# def returns_missing_index(comparared_list, a_list):

#     for index, element in enumerate(comparared_list):
        
#         if element not in a_list:
            
#             a_list.insert(index, np.NaN)

#     return a_list

In [115]:
# df_multi_level_cols2.loc['700007031570', '3']
# # df_multi_level_cols2.loc['700007031570', '1']

0                               c988db218499450495931df84c7990ce
live_agent_session_id_xspace                                   0
Name: (700007031570, 3), dtype: object

In [79]:
# df_multi_level_cols2

                                                    0  live_agent_session_id  \
Buyer ID     Serial
700042152726 1       783a0dd8c39c443689bf549c4cbb3805                      0
             2       356fec2fb3a441f093b1adfcd52fbc04                      0
             3       84f48c796bba4b508c6ff25997a7b156                      0
700032693392 1       1c10077fd20a45e5ae1b59f7fcad9e85                      0
             2       cc30f58116c84245b0aee60d11a5b7a9                      0
             3       121ff38a9aa04b1d8e8cd7c896da94c6                      0
700028892173 1       78f3206f5f944cd3af7532d6a405cd88                      0
             2       faa6d7ffe6d8430785f1d178deeee8a6                      0
             3       812f3fdc17b740feafd30e0b19b9520e                      0
700022271225 1       786d4ebef31547e89068d98f4fa30a7a                      0
             2       9d0b6a49ee0f4dca8abd9cd5dc206509                      0
             3       0c091a5fb45d47e487aa5a58d27396f0                      0
700019748651 1       6ebe1e398e4848c7b872e1132ba1488d                      0
             2       10361ca2117d467ca5adc793c0d44326                      0
             3       067d1c0d71744e35a7df71a02f3297f3                      0

                     live_agent_session_id_xspace
Buyer ID     Serial
700042152726 1                                  0
             2                                  0
             3                                  0
700032693392 1                                  0
             2                                  0
             3                                  0
700028892173 1                                  0
             2                                  0
             3                                  0
700022271225 1                                  0
             2                                  0
             3                                  0
700019748651 1                                  0
             2                                  0
             3                                  0

In [242]:
# a = UNIQUE_sample_sorted['Seller id (X-space)'].to_list()
# b = UNIQUE_sample_sorted['Seller id (X-space)'].to_list()

In [255]:
# def returns_missing_index(comparared_list, a_list):

#     for index, element in enumerate(comparared_list):
        
#         if element not in a_list:
            
#             a_list.insert(index, np.NaN)

#     return a_list

['apple', nan, 'strawberry', 'mango']

In [77]:
# multicol2 = pd.MultiIndex.from_tuples([('weight', 'kg'),
#                                        ('height', 'm')])

In [78]:
# df_multi_level_cols2 = pd.DataFrame([[2.0, 3.0], [4.0, 5.0]],
#                                     index=['deer', 'monkey'],
#                                     columns=multicol2)

In [79]:
# df_multi_level_cols2.stack()

           height  weight
deer   kg     NaN     2.0
       m      3.0     NaN
monkey kg     NaN     4.0
       m      5.0     NaN

In [ ]:
# a = ['1', '2']
# b = ['2', '4', '5']

# set(b) - set(a)
# set(a) & set(b)
# [i for i, j in zip(a, b) if i == j]
# s = [None] *  10
# s[0] = 1


# def double_index(lst, index):
#   try:
#     lst[index] = lst[index] * 2
#   except IndexError:
#     return lst

In [258]:
# lst = [ ] 
# n = int(input("Enter number of elements : ")) 
  
# for i in range(0, n): 
#     ele = [input(), int(input())] 
#     lst.append(ele) 
      
# print(lst)

In [ ]:
# # number of elements 
# n = int(input("Enter number of elements : ")) 
  
# # Below line read inputs from user using map() function  
# a = list(map(int,input("\nEnter the numbers : ").strip().split()))[:n] 
  
# print("\nList is - ", a)

In [17]:
# agent_session_id = []

# while True:

#     an_input = input('Enter the X-Space live agent session ID! (Press q to quit):')

#     agent_session_id.append(an_input)

#     if 'q' in an_input:

#         break

In [18]:
# agent_session_id

['fsdlhlskdf', 'sdlkjlhsdfljsdf', '8239flsskhlkfsd', 'sdlkjlkjf23lk', 'q']

In [15]:
# show = input('Enter the X-Space live agent session ID! (Press q to quit):')

In [16]:
# show

'1'

In [129]:
# UNIQUE_NOTNA_DF_NO_DUPLICATES['']

,Create Date,tenant_name,robot_code,robot_name,from_id,from_name,Session_id,Intention,user_id,Seller id (X-space),...,Feedback Card Response,is_chat_recommend,is_chat_no answer,is_chat_pre/post match,live agent_session_id,Last Query Before Live Agent Session,Live Agent User Query,Live Agent Response,Feedback Type,Unsatisfied Reason
0,2022-05-28 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,V3EasrtOgs,BD-Daz-EN-HC-App,0123f9623b6444369df512399738c36a,route_daraz_liveagent,2101100071711721,700043568806,...,NaN,N,N,N,6e463e7d5ce440ceb086b768e4279f78,Connecting to Agent,Ok|||Cashback কি আছে এখনো|||Bkash Offer কি শেষ...,"আর কোনভাবে সহযোগিতা করতে পারি কি, স্যার? |||H...",NaN,NaN
1,2022-05-28 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,V3EasrtOgs,BD-Daz-EN-HC-App,084ee3892bab49c3a1b44fadd76e99cb,NaN,2101100019507815,1590113,...,Unsatisfied,N,N,N,e3b5f1083dc7408d8ac5bdc1a79d8483,627684246890113,26 tarik otp paisi|||Welcome|||Amar product de...,Dhonnobad sir|||Sir apnar OTP ki peyechen ?|||...,UNSATISFIED,Too many words to read
2,2022-05-28 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,V3EasrtOgs,BD-Daz-EN-HC-App,08d61d8ff65048cba96e833cf4f827e2,NaN,2101100060181723,700034547227,...,NaN,N,N,Y,3fe04b55c78b4c5eb3f84353b6939c23,Live agent,কোন লোকেশনে আছে|||এখন কি ওয়ারহাউজে?|||আজ/কাল প...,Welcome to Daraz Bangladesh. Hope you are doin...,NaN,NaN
3,2022-05-28 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,V3EasrtOgs,BD-Daz-EN-HC-App,09c9a727aff548c9924bc913f461c462,route_daraz_liveagent,2101100081674223,700025157222,...,NaN,N,N,N,5304a48c357847c18498da4894301289,Agent with chet now,*pari|||Hello😇|||Ji amar 2ti account |||But on...,Apni ki ekti device e ektir beshi daraz accoun...,NaN,NaN
4,2022-05-28 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,V3EasrtOgs,BD-Daz-EN-HC-App,11bfdedd3e5d4f7cb4a1db58e2044c81,NaN,2101100036459313,1825541,...,NaN,N,N,Y,bfb1aa52d9834411a457a9f2ba5e2137,Cashback,J kono electronic products order korlei ki bka...,"""10 % instant cashback bkash payment er khetre...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,2022-05-28 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,V3EasrtOgs,BD-Daz-EN-HC-App,6de90bfeef40437784ce13a64d02564b,NaN,2101100067050004,1032129,...,NaN,N,N,Y,0e60951269824d5c8db173da48056373,শালার পুত,first attempt failed dekhaise ken? Ajke appoin...,Many products are processed for delivery by th...,NaN,NaN
1569,2022-05-28 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,V3EasrtOgs,BD-Daz-EN-HC-App,6eab20c4ec4143d5b16abd93730ec791,route_daraz_liveagent,2101100081602110,700516125128,...,NaN,N,N,N,c10b72dd0cb84e93921f7edabbab78e5,Live kotha bolbo,NaN,Our warmest welcome from Daraz! Hope you are e...,NaN,NaN
1570,2022-05-28 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,0zKpjMUW7x,BD-Daz-EN-HC-Web,6ef0a9a2753948e0972fce0b8c7c81d9,route_daraz_others,2101100082129804,700515741606,...,NaN,N,N,N,664b555ca8a44000bff17ef233535916,How long is the refund process,<img src='https://alime-customer-upload-lazada...,Wish you enjoy this lovely day. I'm from Daraz...,NaN,NaN
1571,2022-05-28 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,V3EasrtOgs,BD-Daz-EN-HC-App,73e9d09582af4745b4fccd4250548da7,route_daraz_others,2101100053125561,700000936088,...,NaN,N,N,Y,4967ad125978464494b89cf16662bcaa,An agent,订单号:627795702536088|||订单号:627795702536088,Welcome to Daraz Bangladesh. Hope you are doin...,NaN,NaN
1572,2022-05-28 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,V3EasrtOgs,BD-Daz-EN-HC-App,1c8144d55d4d4c75af5b88814d10b0ad,NaN,2101100045453840,700014843562,...,NaN,N,N,Y,4730d44bf1514aea929b129e43bb7f4b,Live agent,<img src='https://alime-customer-upload-lazada...,dukhkhito sir bishoytir jonno|||bishoyti obosh...,NaN,NaN

In [130]:
# df = pd.DataFrame({'Date':['10/2/2011', '12/2/2011', '13/2/2011', '14/2/2011'],
#                     'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],
#                     'Cost':[10000, 5000, 15000, 2000]})

In [131]:
df

        Date    Event   Cost
0  10/2/2011    Music  10000
1  12/2/2011   Poetry   5000
2  13/2/2011  Theatre  15000
3  14/2/2011   Comedy   2000

In [38]:
# Function to insert row in the dataframe

In [150]:
# row_number = 5
# row_value = [np.nan, np.nan, 12000]

# if row_number > df.index.max()+1:
# 	print("Invalid row_number")
# else:
	
# 	# Let's call the function and insert the row
# 	# at the second position
# 	df = insert_row(row_number, df, row_value)

# 	# Print the updated dataframe
# 	print(df)

        Date      Event     Cost
0  10/2/2011      Music  10000.0
1  12/2/2011     Poetry   5000.0
2        NaN        NaN  15500.0
3  14/3/2015     Boxing  15500.0
4  11/2/2011  Wrestling  12000.0
5        NaN        NaN  12000.0
6  13/2/2011    Theatre  15000.0
7  14/2/2011     Comedy   2000.0

In [255]:
# row_number = 1
# row_value = [np.nan, np.nan, np.nan]


# df = insert_row(row_number, df, row_value)

In [256]:
# df

        Date      Event     Cost
0  10/2/2011      Music  10000.0
1        NaN        NaN      NaN
2  12/2/2011     Poetry   5000.0
3        NaN        NaN  15500.0
4        NaN        NaN  15500.0
5  14/3/2015     Boxing  15500.0
6  11/2/2011  Wrestling  12000.0
7        NaN        NaN  12000.0
8  13/2/2011    Theatre  15000.0
9  14/2/2011     Comedy   2000.0

In [234]:
# UNIQUE_sample_sorted['live_agent_session_id_from_xspace'] = 0

In [157]:
UNIQUE_sample_sorted

,index,Seller id (X-space),live agent_session_id,live_agent_session_id_from_xspace
0,1,700028694726,10a39bc84f36450c828161a8db07d662,0
1,2,700028694726,7463be00303446ab920ebd57428160e3,0
2,3,700028694726,49368689282546d189bf0a312312f5fe,0
3,1,700023282820,9ed6d483bc77463bb82efb425cf80de6,0
4,2,700023282820,c3eeeb05e4354a298c379a0cb1b4bdd0,0
5,3,700023282820,b09b3a8496754b548aff8855eab31179,0
6,1,700013847484,7b90aee393514336a890aca558bc9dba,0
7,2,700013847484,6ae812b9a4b34f27912052871624210a,0
8,3,700013847484,f02e4cd637cb4e50bafbe326943350ea,0
9,1,700007031570,6a57fb2e9c194cc0869fe1dbb332addb,0
10,2,700007031570,4eab8309d9dc4226980c1755472d484b,0
11,3,700007031570,c988db218499450495931df84c7990ce,0
12,1,1489794,5815f9ff18434ceba16dc44bab7fbfaa,0
13,2,1489794,c339844b3feb424799523d91e044bbeb,0
14,3,1489794,b041459fc2664832a4a938d8bef50419,0

In [149]:
# row_to_insert = [np.nan]*(UNIQUE_NOTNA_DF_NO_DUPLICATES.shape[1] - 1)
# row_to_insert.append('')

43

In [160]:
# UNIQUE_sample.reset_index(inplace=True)

In [162]:
# UNIQUE_sample['index'] = 0

In [37]:
# UNIQUE_sample_sorted

    index Seller id (X-space)             live agent_session_id
0       0        700028892173  78f3206f5f944cd3af7532d6a405cd88
1       0        700028892173  faa6d7ffe6d8430785f1d178deeee8a6
2       0        700028892173  812f3fdc17b740feafd30e0b19b9520e
3       0        700028694726  10a39bc84f36450c828161a8db07d662
4       0        700028694726  7463be00303446ab920ebd57428160e3
5       0        700028694726  49368689282546d189bf0a312312f5fe
6       0        700023282820  9ed6d483bc77463bb82efb425cf80de6
7       0        700023282820  c3eeeb05e4354a298c379a0cb1b4bdd0
8       0        700023282820  b09b3a8496754b548aff8855eab31179
9       0        700000594210  b137f40612fe45ac81722dd6911fd8b6
10      0        700000594210  37eb1fd8a7b140fb8de0dc642c615a1e
11      0        700000594210  dffa071f37034ca0b9c5a5a5e09780a9
12      0              270011  b8d46cf437604828a6f814e226a34114
13      0              270011  3d020bbb065849898af67db014544b66
14      0              270011  d32f6709699c4f64ad786e7642c4928b

In [172]:
# unique_sample_list_seller_id = UNIQUE_sample['live agent_session_id'].to_list()

In [174]:
# live_agent_id_from_xspace = ['6a57fb2e9c194cc0869fe1dbb332addb', 'c988db218499450495931df84c7990ce', '4eab8309d9dc4226980c1755472d484b', '3fb6c73c48fa4b2aaf55415c4eb1e35e']

In [176]:
# UNIQUE_sample['live_agent_session_id_from_xspace'] = 0

In [204]:
# # UNIQUE_sample[[2]]
# UNIQUE_sample.iloc[:, [1]]

   Seller id (X-space)
0         700013847484
1         700023282820
2         700028694726
3         700007031570
4              1489794
5         700023282820
6         700028694726
7         700013847484
8              1489794
9         700007031570
10        700028694726
11        700007031570
12        700013847484
13        700023282820
14             1489794

In [238]:
# live_agent_id_from_xspace

['6a57fb2e9c194cc0869fe1dbb332addb',
 'c988db218499450495931df84c7990ce',
 '4eab8309d9dc4226980c1755472d484b',
 '3fb6c73c48fa4b2aaf55415c4eb1e35e']

In [36]:
# agent_session_id_xspace

[('270011', '3d020bbb065849898af67db014544b66'),
 ('270011', 'b8d46cf437604828a6f814e226a34114'),
 ('270011', 'd32f6709699c4f64ad786e7642c4928b'),
 ('700023282820', 'c3eeeb05e4354a298c379a0cb1b4bdd0'),
 ('700023282820', '9ed6d483bc77463bb82efb425cf80de6'),
 ('700023282820', 'b09b3a8496754b548aff8855eab31179'),
 ('700028694726', '10a39bc84f36450c828161a8db07d662'),
 ('700028694726', '49368689282546d189bf0a312312f5fe'),
 ('700028694726', '7463be00303446ab920ebd57428160e3'),
 ('700000594210', '37eb1fd8a7b140fb8de0dc642c615a1e'),
 ('700000594210', 'b137f40612fe45ac81722dd6911fd8b6'),
 ('700000594210', 'dffa071f37034ca0b9c5a5a5e09780a9'),
 ('700028892173', 'faa6d7ffe6d8430785f1d178deeee8a6'),
 ('700028892173', '78f3206f5f944cd3af7532d6a405cd88'),
 ('700028892173', '812f3fdc17b740feafd30e0b19b9520e')]

In [263]:


# # row_number = UNIQUE_sample[UNIQUE_sample['Seller id (X-space)'] == '1489794'].index[1]
# # row_to_insert = [np.nan]*(UNIQUE_sample.shape[1] - 1)
# # row_to_insert.append()

# for i in agent_session_id_xspace:

#     if i[1] not in  UNIQUE_sample_sorted['live agent_session_id']:
		
# 		row_number = UNIQUE_sample_sorted[UNIQUE_sample_sorted['Seller id (X-space)'] == i[0]].index[-1]

# 		row_value = [0, i[0], np.nan, i[1]]

# 		insert_row(row_number, UNIQUE_sample_sorted, row_value)  ## Need the index number


# 	else:

# 		UNIQUE_sample_sorted['live agent_session_id'][row_number] = i[1]


        


# # row_number = 5
# # row_value = [np.nan, np.nan, 12000]

# # if row_number > df.index.max()+1:
# # 	print("Invalid row_number")
# # else:
	
# # 	# Let's call the function and insert the row
# # 	# at the second position
# # 	df = insert_row(row_number, df, row_value)

# # 	# Print the updated dataframe
# # 	print(df)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 15)

In [261]:
# # UNIQUE_sample_sorted.loc[1]

# UNIQUE_sample_sorted['live_agent_session_id_from_xspace'][0] = 0

In [1]:
# UNIQUE_sample_sorted

NameError: name 'UNIQUE_sample_sorted' is not defined

In [248]:
# UNIQUE_sample_sorted.loc[['Seller id (X-space)'] == '700018455975']

KeyError: 'False: boolean label can not be used without a boolean index'

In [142]:
# UNIQUE_SAMPLE_TEST = UNIQUE_sample_sorted

In [143]:
# UNIQUE_SAMPLE_TEST = UNIQUE_SAMPLE_TEST.dropna()

In [144]:
# UNIQUE_SAMPLE_TEST.reset_index(inplace=True)

In [145]:
# UNIQUE_SAMPLE_TEST.drop('level_0', axis = 1, inplace=True)

c:\Users\Daraz\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [148]:
# UNIQUE_SAMPLE_TEST

,index,Seller id (X-space),live agent_session_id,live agent_session_id_from_xspace
0,0,700028892173,78f3206f5f944cd3af7532d6a405cd88,78f3206f5f944cd3af7532d6a405cd88
1,0,700028892173,faa6d7ffe6d8430785f1d178deeee8a6,faa6d7ffe6d8430785f1d178deeee8a6
2,0,700028892173,812f3fdc17b740feafd30e0b19b9520e,812f3fdc17b740feafd30e0b19b9520e
3,0,700028694726,10a39bc84f36450c828161a8db07d662,10a39bc84f36450c828161a8db07d662
4,0,700028694726,7463be00303446ab920ebd57428160e3,7463be00303446ab920ebd57428160e3
5,0,700028694726,49368689282546d189bf0a312312f5fe,49368689282546d189bf0a312312f5fe
6,0,700023282820,9ed6d483bc77463bb82efb425cf80de6,9ed6d483bc77463bb82efb425cf80de6
7,0,700023282820,c3eeeb05e4354a298c379a0cb1b4bdd0,c3eeeb05e4354a298c379a0cb1b4bdd0
8,0,700023282820,b09b3a8496754b548aff8855eab31179,b09b3a8496754b548aff8855eab31179
9,0,700000594210,b137f40612fe45ac81722dd6911fd8b6,b137f40612fe45ac81722dd6911fd8b6
10,0,700000594210,37eb1fd8a7b140fb8de0dc642c615a1e,37eb1fd8a7b140fb8de0dc642c615a1e
11,0,700000594210,dffa071f37034ca0b9c5a5a5e09780a9,dffa071f37034ca0b9c5a5a5e09780a9
12,0,270011,b8d46cf437604828a6f814e226a34114,b8d46cf437604828a6f814e226a34114
13,0,270011,3d020bbb065849898af67db014544b66,3d020bbb065849898af67db014544b66
14,0,270011,d32f6709699c4f64ad786e7642c4928b,d32f6709699c4f64ad786e7642c4928b

In [123]:
# i = agent_session_id_xspace[0]

In [124]:
# i[1]

'3d020bbb065849898af67db014544b66'

In [50]:
# UNIQUE_sample_sorted[UNIQUE_sample_sorted['Seller id (X-space)'] == i[0]].index[0]

12

In [51]:
# UNIQUE_SAMPLE_TEST['live agent_session_id'][12]

'b8d46cf437604828a6f814e226a34114'

In [52]:
# UNIQUE_SAMPLE_TEST['live agent_session_id_from_xspace'] = 0

In [87]:
# UNIQUE_SAMPLE_TEST[UNIQUE_SAMPLE_TEST['live agent_session_id'] == i[1]].index[0]

14

In [97]:
# UNIQUE_SAMPLE_TEST['live agent_session_id_from_xspace'][14] = i[1]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_25200/805195654.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  UNIQUE_SAMPLE_TEST['live agent_session_id_from_xspace'][14] = i[1]

In [147]:
# ################################# Very Important Loop ##########################################################3

# for i in agent_session_id_xspace:

#     if i[1] not in UNIQUE_SAMPLE_TEST['live agent_session_id'].values:

#         row_number = UNIQUE_SAMPLE_TEST[UNIQUE_SAMPLE_TEST['Seller id (X-space)'] == i[0]].index[0]

#         row_value = [0, i[0], np.nan, i[1]]

#         UNIQUE_SAMPLE_TEST = insert_row (row_number, UNIQUE_SAMPLE_TEST, row_value)

#     elif i[1] in UNIQUE_SAMPLE_TEST['live agent_session_id'].values:

#         new_row_number = UNIQUE_SAMPLE_TEST[UNIQUE_SAMPLE_TEST['live agent_session_id'] == i[1]].index[0]
        
#         UNIQUE_SAMPLE_TEST['live agent_session_id_from_xspace'][new_row_number] = i[1]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_25200/1723295034.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  UNIQUE_SAMPLE_TEST['live agent_session_id_from_xspace'][new_row_number] = i[1]

In [129]:
# UNIQUE_SAMPLE_TEST[UNIQUE_SAMPLE_TEST['live agent_session_id'] == i[1]].index[0]

26

In [126]:
# if i[1] in UNIQUE_SAMPLE_TEST['live agent_session_id'].values:
    print('yes')

yes

In [111]:

    print('Yes')

Yes

In [119]:
# '3d020bbb065849898af67db014544b66' in UNIQUE_SAMPLE_TEST['live agent_session_id']

False

In [118]:
# UNIQUE_SAMPLE_TEST['live agent_session_id']

0     78f3206f5f944cd3af7532d6a405cd88
1     faa6d7ffe6d8430785f1d178deeee8a6
5     812f3fdc17b740feafd30e0b19b9520e
6     10a39bc84f36450c828161a8db07d662
7     7463be00303446ab920ebd57428160e3
11    49368689282546d189bf0a312312f5fe
12    9ed6d483bc77463bb82efb425cf80de6
13    c3eeeb05e4354a298c379a0cb1b4bdd0
17    b09b3a8496754b548aff8855eab31179
18    b137f40612fe45ac81722dd6911fd8b6
19    37eb1fd8a7b140fb8de0dc642c615a1e
23    dffa071f37034ca0b9c5a5a5e09780a9
25    b8d46cf437604828a6f814e226a34114
26    3d020bbb065849898af67db014544b66
27    d32f6709699c4f64ad786e7642c4928b
Name: live agent_session_id, dtype: object

In [72]:
# for i in agent_session_id_xspace:

#     if i[1] not in  UNIQUE_sample_sorted['live agent_session_id']:

#         row_number = UNIQUE_sample_sorted[UNIQUE_sample_sorted['Seller id (X-space)'] == i[0]].index[-1]

#         row_value = [0, i[0], np.nan, i[1]]

#         UNIQUE_sample_sorted = insert_row (row_number, UNIQUE_sample_sorted, row_value)

#     else:

#         row_number = UNIQUE_SAMPLE_TEST[UNIQUE_SAMPLE_TEST['live agent_session_id'] == i[1]].index[0]

#         UNIQUE_sample_sorted['live agent_session_id'][row_number] = i[1]

In [ ]:
    # if i[1] not in  UNIQUE_sample_sorted['live agent_session_id']:
		
	# 	row_number = UNIQUE_sample_sorted[UNIQUE_sample_sorted['Seller id (X-space)'] == i[0]].index[-1]

	# 	row_value = [0, i[0], np.nan, i[1]]

	# 	insert_row(row_number, UNIQUE_sample_sorted, row_value)  ## Need the index number


	# else:

	# 	UNIQUE_sample_sorted['live agent_session_id'][row_number] = i[1]

In [270]:
# UNIQUE_sample_sorted

,index,Seller id (X-space),live agent_session_id,live_agent_session_id_from_xspace
0,0,700044117675,4e0d6566d04e46c8b43c04ca1bfe2740,0
1,0,700044117675,8b50dad91bb744b584989274f51a53fd,0
2,0,700044117675,03dc7016b3004dad80f3b9f3ac3f9e17,0
3,0,700022271225,786d4ebef31547e89068d98f4fa30a7a,0
4,0,700022271225,9d0b6a49ee0f4dca8abd9cd5dc206509,0
...,...,...,...,...
70,0,700002720638,NaN,f5e3cfb9dff849789af98e4ca71eb422
71,0,700002720638,NaN,699a3053350b47fd8318f3abb53fa483
72,0,700002720638,NaN,f5e3cfb9dff849789af98e4ca71eb422
73,0,700002720638,NaN,c34791e3b46b4ae5a061123a0e881152
74,0,700002720638,NaN,c34791e3b46b4ae5a061123a0e881152

In [186]:
# UNIQUE_sample[UNIQUE_sample['Seller id (X-space)'] == '1489794'].index[1]

8