In [99]:
df = pd.DataFrame(np.random.randint(0, 2, (10, 4)), columns=list('abcd'))

In [101]:
df.apply(pd.Series.value_counts)

   a  b  c  d
0  4  3  7  7
1  6  7  3  3

In [102]:
df = pd.DataFrame({'a': ['table', 'chair', 'chair', 'lamp', 'bed'],
                   'b': ['lamp', 'candle', 'chair', 'lamp', 'bed'],
                   'c': ['mirror', 'mirror', 'mirror', 'mirror', 'mirror']})

In [103]:
df.apply(pd.value_counts)

          a    b    c
bed     1.0  1.0  NaN
candle  NaN  1.0  NaN
chair   2.0  1.0  NaN
lamp    1.0  2.0  NaN
mirror  NaN  NaN  5.0
table   1.0  NaN  NaN

In [104]:
df = pd.DataFrame({
'fruits': ['apple', 'mango', 'apple', 'mango', 'mango', 'pear', 'mango'],
'vegetables': ['cucumber', 'eggplant', 'tomato', 'tomato', 'tomato', 'tomato', 'pumpkin'],
'sauces': ['chili', 'chili', 'ketchup', 'ketchup', 'chili', '1000 islands', 'chili']})

In [106]:
df

  fruits vegetables        sauces
0  apple   cucumber         chili
1  mango   eggplant         chili
2  apple     tomato       ketchup
3  mango     tomato       ketchup
4  mango     tomato         chili
5   pear     tomato  1000 islands
6  mango    pumpkin         chili

In [105]:
cat_cols = df.select_dtypes(include=object).columns.tolist()
(pd.DataFrame(
    df[cat_cols]
    .melt(var_name='column', value_name='value')
    .value_counts())
.rename(columns={0: 'counts'})
.sort_values(by=['column', 'counts']))

                         counts
column     value
fruits     pear               1
           apple              2
           mango              4
sauces     1000 islands       1
           ketchup            2
           chili              4
vegetables cucumber           1
           eggplant           1
           pumpkin            1
           tomato             4

In [71]:
import pandas as pd
import numpy as np

In [2]:
CD_07040710 = pd.read_csv(r'C:\Users\Daraz\Documents\ddda\ChatDetailsDataset\CD_july 4_july 10(1).csv')
CD_06270703 = pd.read_csv(r'C:\Users\Daraz\Documents\ddda\ChatDetailsDataset\CD_jun 27_july 3(1).csv')
CD_07130719 = pd.read_csv(r'C:\Users\Daraz\Documents\ddda\ChatDetailsDataset\july 13-19_CD(1).csv')
CD_07180724 = pd.read_csv(r'C:\Users\Daraz\Documents\ddda\ChatDetailsDataset\july 18-24_CD(1).csv')

In [12]:
frames = [CD_07040710, CD_06270703, CD_07130719, CD_07180724]

In [13]:
concat_df = pd.concat(frames)

In [14]:
concat_df.head(2)

,Create Date,tenant_name,robot_code,robot_name,from_id,from_name,Session_id,Intention,user_id,Seller id (X-space),...,Feedback Card Response,is_chat_recommend,is_chat_no answer,is_chat_pre/post match,live agent_session_id,Last Query Before Live Agent Session,Live Agent User Query,Live Agent Response,Feedback Type,Unsatisfied Reason
0,2022-07-04 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,0zKpjMUW7x,BD-Daz-EN-HC-Web,d371eacb697344cf9e9c4b7ff39ab996,NaN,2101100084439329,7.000093e+11,...,NaN,N,N,Y,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-07-04 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,2QpojyCHcD,BD-Daz-EN-DD-App,9e3824a414ba4c1fb19440901e66f87b,route_daraz_others,2101100084409325,7.000185e+11,...,NaN,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
concat_df.to_csv('concatenated_cpr.csv')

In [15]:
concat_df.tail(2)

,Create Date,tenant_name,robot_code,robot_name,from_id,from_name,Session_id,Intention,user_id,Seller id (X-space),...,Feedback Card Response,is_chat_recommend,is_chat_no answer,is_chat_pre/post match,live agent_session_id,Last Query Before Live Agent Session,Live Agent User Query,Live Agent Response,Feedback Type,Unsatisfied Reason
99998,2022-07-23 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,0zKpjMUW7x,BD-Daz-EN-HC-Web,ea800cc2a9af4e1cae50f41e96eba20f,route_daraz_others,2101100018510184,256111.0,...,NaN,N,N,N,62d4ff9e2b214c06844588b105613ead,How long is the refund process,এটা সার্ভিস হতে পারেনা |||আমি চাইনা এটা নিয়ে এ...,আমি ক্ষমা চেয়ে নিচ্ছি।|||আমি সম্পূর্ণরূপে আপনা...,NaN,NaN
99999,2022-07-23 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,0zKpjMUW7x,BD-Daz-EN-HC-Web,ea800cc2a9af4e1cae50f41e96eba20f,NaN,2101100018510184,256111.0,...,Unsatisfied,N,N,N,62d4ff9e2b214c06844588b105613ead,How long is the refund process,এটা সার্ভিস হতে পারেনা |||আমি চাইনা এটা নিয়ে এ...,আমি ক্ষমা চেয়ে নিচ্ছি।|||আমি সম্পূর্ণরূপে আপনা...,UNSATISFIED,Useless and wrong answer

In [17]:
concat_df.shape

(365027, 42)

In [18]:
concat_df.columns

Index(['Create Date', 'tenant_name', 'robot_code', 'robot_name', 'from_id',
       'from_name', 'Session_id', 'Intention', 'user_id',
       'Seller id (X-space)', 'user_nick', 'create_time', 'chat_uuid',
       'Enter Type', 'query', 'Question Type', 'sopname', 'answer_type',
       'SOP_Solution_id', 'SOP_Solution_Name', 'Standard Knowledge Title',
       'Knowledge_id', 'knowledge_cate_1_name', 'knowledge_cate_2_name',
       'knowledge_cate_3_name', 'is_session_unsatisfied',
       'is_session_last_no answer', 'call_agent_by_click_shortcut',
       'is_session_last_recommend no click', 'call_agent_by_intention',
       'is_session_direct_liveagent', 'Contacted live agent on same day',
       'Feedback Card Response', 'is_chat_recommend', 'is_chat_no answer',
       'is_chat_pre/post match', 'live agent_session_id',
       'Last Query Before Live Agent Session', 'Live Agent User Query',
       'Live Agent Response', 'Feedback Type', 'Unsatisfied Reason'],
      dtype='object')

In [23]:
no_duplicates_df = concat_df.drop_duplicates(subset='Session_id')

In [27]:
no_duplicates_df.reset_index(inplace=True)

In [174]:
filtered_df = concat_df[(concat_df['is_session_unsatisfied'] == 'Y') & (concat_df['call_agent_by_click_shortcut'] == 'Y') & (concat_df['call_agent_by_intention'] == 'Y')]

In [ ]:
filtered_df

In [175]:
unsatisfied_df = filtered_df[filtered_df['is_session_unsatisfied'] == 'Y']

In [176]:
unsatisfied_df_en = unsatisfied_df[unsatisfied_df['robot_name'] == 'BD-Daz-EN']
unsatisfied_df_lc = unsatisfied_df[unsatisfied_df['robot_name'] == 'BD-Daz-LC']

In [177]:
unsatisfied_df_en_filtered = unsatisfied_df_en[['Standard Knowledge Title', 'Unsatisfied Reason', 'call_agent_by_click_shortcut', 'call_agent_by_intention']]

In [178]:
unsatisfied_df_en_filtered.reset_index(inplace=True)

In [183]:
unsatisfied_df_en_filtered['Unsatisfied Reason'].value_counts()

Useless and wrong answer    7
Name: Unsatisfied Reason, dtype: int64

In [146]:
unsatisfied_df_en_filtered.pivot_table(index='Standard Knowledge Title', values = ['Unsatisfied Reason', 'call_agent_by_click_shortcut', 'call_agent_by_intention'], aggfunc=pd.Series.value_counts)

,Unsatisfied Reason,call_agent_by_click_shortcut,call_agent_by_intention
Standard Knowledge Title,,,
Account management related query,[],5,5
Account management shongkranto query,[],1,1
Alada delivery charge keno neya hoy shob ponner jonno,1,"[2, 1]",3
All about Qurbanir Haat,[],"[5, 4]",9
Amar bKash er cashback akhono paini,"[1, 1]","[2, 2]",4
...,...,...,...
Will someone contact me before delivering the package,3,"[3, 1]",4
Will you notify me after my order gets confirmed,[],2,2
bKash e kono cashback ache ki,"[4, 3, 2]","[11, 4]",15
bkash er maddhome refund kibhabe nibo,[],1,1
dMart er kono product delivery kibhabe pabo,[],1,1

In [171]:
df_test = unsatisfied_df_en_filtered[unsatisfied_df_en_filtered['Standard Knowledge Title'] == 'How can I track my order']

In [172]:
df_test

,index,Standard Knowledge Title,Unsatisfied Reason,call_agent_by_click_shortcut,call_agent_by_intention
20,268,How can I track my order,NaN,N,N
34,427,How can I track my order,NaN,Y,N
66,769,How can I track my order,NaN,Y,N
77,972,How can I track my order,NaN,N,N
83,1128,How can I track my order,NaN,Y,N
...,...,...,...,...,...
5511,125383,How can I track my order,NaN,N,N
5518,125623,How can I track my order,NaN,N,N
5523,125746,How can I track my order,NaN,N,N
5535,126157,How can I track my order,NaN,N,N
5536,126184,How can I track my order,NaN,N,N

In [173]:
df_test['Unsatisfied Reason'].value_counts()

Series([], Name: Unsatisfied Reason, dtype: int64)

In [142]:
df_test.pivot_table(index='Standard Knowledge Title', values = ['Unsatisfied Reason'], aggfunc=pd.Series.value_counts)

# df_sc_en_pivot = pd.pivot_table(df_sc_en, values=['Sessions','Resolved_Sessions', 'SLAR'], index = ['Function Text'], aggfunc = np.sum)

                              Unsatisfied Reason
Standard Knowledge Title
bKash e kono cashback ache ki          [4, 3, 2]

In [136]:
pd.crosstab(unsatisfied_df_en_filtered['Standard Knowledge Title'], unsatisfied_df_en_filtered['Unsatisfied Reason'])

Unsatisfied Reason,The descriptions are complicated and not comprehensible,Too many words to read,Useless and wrong answer,অকেজো এবং ভুল উত্তর,অনেক শব্দ আছে পড়ার জন্য,বর্ণনাগুলি জটিল এবং বোধগম্য নয়
Standard Knowledge Title,,,,,,
Alada delivery charge keno neya hoy shob ponner jonno,0,0,1,0,0,0
Amar bKash er cashback akhono paini,1,0,1,0,0,0
Amar delivery ti miss kore felle ki koroniyo,1,0,0,0,0,0
Amar location e delivery ashe na keno,0,0,1,0,0,0
Amar order ashte deri hocche keno,0,0,2,0,1,0
...,...,...,...,...,...,...
Why is the status Refunded when its not credited,0,0,2,0,0,0
Why my return request is cancelled,0,0,2,0,0,0
Why was my Card declined,0,0,1,0,0,0
Will someone contact me before delivering the package,0,0,3,0,0,0
bKash e kono cashback ache ki,2,4,3,0,0,0

In [181]:
unsatisfied_df_en_filtered['Standard Knowledge Title'].value_counts()

Talk to Agent                                            7
Greeting                                                 7
How can I track my order                                 5
How long does it take to receive my product              3
My order is delayed. What should I do                    2
What payment partner discounts are available             2
Daraz account kibhabe deactivate korbo                   2
Return related query                                     2
Need more help                                           2
Delivery delay issue                                     2
How can I get my OTP for collection point                2
What are the operational timings for collection point    1
Amar ponno delivery hote kotodin lagbe                   1
Daraz er monthly installment plan ki                     1
Can I return an Item                                     1
Amar order kibhabe track korte parbo                     1
WIMO_GuidedFlow_EN                                       1
How long is the refund process                           1
Name: Standard Knowledge Title, dtype: int64

In [180]:
unsatisfied_df_en['Standard Knowledge Title'].value_counts()

Talk to Agent                                            7
Greeting                                                 7
How can I track my order                                 5
How long does it take to receive my product              3
My order is delayed. What should I do                    2
What payment partner discounts are available             2
Daraz account kibhabe deactivate korbo                   2
Return related query                                     2
Need more help                                           2
Delivery delay issue                                     2
How can I get my OTP for collection point                2
What are the operational timings for collection point    1
Amar ponno delivery hote kotodin lagbe                   1
Daraz er monthly installment plan ki                     1
Can I return an Item                                     1
Amar order kibhabe track korte parbo                     1
WIMO_GuidedFlow_EN                                       1
How long is the refund process                           1
Name: Standard Knowledge Title, dtype: int64

In [116]:
cat_cols

['Standard Knowledge Title',
 'Unsatisfied Reason',
 'call_agent_by_click_shortcut',
 'call_agent_by_intention']

In [115]:
cat_cols = unsatisfied_df_en_filtered.select_dtypes(include=object).columns.tolist()
(pd.DataFrame(
    unsatisfied_df_en_filtered[cat_cols]
    .melt(var_name='column', value_name='value')
    .value_counts())
.rename(columns={0: 'counts'})

.sort_values(by=['column', 'counts']))

                                                                                 counts
column                       value
Standard Knowledge Title     Why is my total amount not refunded                      1
                             Amar location e delivery ashe na keno                    1
                             Amar hoye order ta place kore den                        1
                             Ami shomoy moto amar delivery ti receive korte ...       1
                             Amar ponno bhul thikanay chole giyeche. Ki koro...       1
...                                                                                 ...
Unsatisfied Reason           Useless and wrong answer                               668
call_agent_by_click_shortcut Y                                                     2173
                             N                                                     3374
call_agent_by_intention      Y                                                      136
                             N                                                     5411

[259 rows x 1 columns]

In [127]:
unsatisfied_df_en_filtered.columns

Index(['index', 'Standard Knowledge Title', 'Unsatisfied Reason',
       'call_agent_by_click_shortcut', 'call_agent_by_intention'],
      dtype='object')

In [130]:
unsatisfied_df_en_filtered.groupby(['Standard Knowledge Title', 'Unsatisfied Reason']).size()

Standard Knowledge Title                               Unsatisfied Reason
Alada delivery charge keno neya hoy shob ponner jonno  Useless and wrong answer                                   1
Amar bKash er cashback akhono paini                    The descriptions are complicated and not comprehensible    1
                                                       Useless and wrong answer                                   1
Amar delivery ti miss kore felle ki koroniyo           The descriptions are complicated and not comprehensible    1
Amar location e delivery ashe na keno                  Useless and wrong answer                                   1
                                                                                                                 ..
Why was my Card declined                               Useless and wrong answer                                   1
Will someone contact me before delivering the package  Useless and wrong answer                                   3
bKash e kono cashback ache ki                          The descriptions are complicated and not comprehensible    2
                                                       Too many words to read                                     4
                                                       Useless and wrong answer                                   3
Length: 198, dtype: int64

In [117]:
pd.DataFrame(unsatisfied_df_en_filtered[cat_cols].melt(var_name='column', value_name='value').value_counts()).rename(columns={0: 'counts'}).sort_values(by=['column', 'counts'])

                                                                                 counts
column                       value
Standard Knowledge Title     Why is my total amount not refunded                      1
                             Amar location e delivery ashe na keno                    1
                             Amar hoye order ta place kore den                        1
                             Ami shomoy moto amar delivery ti receive korte ...       1
                             Amar ponno bhul thikanay chole giyeche. Ki koro...       1
...                                                                                 ...
Unsatisfied Reason           Useless and wrong answer                               668
call_agent_by_click_shortcut Y                                                     2173
                             N                                                     3374
call_agent_by_intention      Y                                                      136
                             N                                                     5411

[259 rows x 1 columns]

In [ ]:
unsatisfied_df_en['Standard Knowledge Title']

In [94]:
df_count

                                                                                                                                                          0
Standard Knowledge Title                        Unsatisfied Reason                                 call_agent_by_click_shortcut call_agent_by_intention
My order is delayed. What should I do           Useless and wrong answer                           Y                            N                        34
How long does it take to receive my product     Useless and wrong answer                           N                            N                        24
                                                                                                   Y                            N                        20
Why do I see failed delivery attempt            Useless and wrong answer                           Y                            N                        18
My order is delayed. What should I do           Too many words to read                             Y                            N                        14
...                                                                                                                                                      ..
How do I label my package for return            Useless and wrong answer                           Y                            N                         1
How do I pay on Daraz                           The descriptions are complicated and not compre... Y                            N                         1
                                                Useless and wrong answer                           N                            N                         1
How do I pay with my Card                       Useless and wrong answer                           N                            N                         1
How much delivery charge you take for one order Too many words to read                             N                            N                         1

[255 rows x 1 columns]

In [87]:
df_count = unsatisfied_df_en[['Standard Knowledge Title', 'Unsatisfied Reason', 'call_agent_by_click_shortcut', 'call_agent_by_intention']].value_counts().to_frame()

In [93]:
df_count

(255, 1)

In [89]:
df_count['Standard Knowledge Title']

KeyError: 'Standard Knowledge Title'

In [73]:
type(df_count)

pandas.core.series.Series

In [81]:
df_count[1]

24

In [69]:
df_count_df = pd.DataFrame(df_count)

In [90]:
df_count_d

Standard Knowledge Title                         Unsatisfied Reason                                       call_agent_by_click_shortcut  call_agent_by_intention
My order is delayed. What should I do            Useless and wrong answer                                 Y                             N                          34
How long does it take to receive my product      Useless and wrong answer                                 N                             N                          24
                                                                                                          Y                             N                          20
Why do I see failed delivery attempt             Useless and wrong answer                                 Y                             N                          18
My order is delayed. What should I do            Too many words to read                                   Y                             N                          14
                                                                                                                                                                   ..
How do I label my package for return             Useless and wrong answer                                 Y                             N                           1
How do I pay on Daraz                            The descriptions are complicated and not comprehensible  Y                             N                           1
                                                 Useless and wrong answer                                 N                             N                           1
How do I pay with my Card                        Useless and wrong answer                                 N                             N                           1
How much delivery charge you take for one order  Too many words to read                                   N                             N                           1
Name: 0, Length: 255, dtype: int64

In [ ]:
df_sc_en_pivot = pd.pivot_table(df_count_df, values=['Sessions','Resolved_Sessions', 'SLAR'], index = ['Function Text'], aggfunc = np.sum)

In [47]:
unsatisfied_df[['Standard Knowledge Title', 'Unsatisfied Reason']].value_counts()

Standard Knowledge Title                           Unsatisfied Reason
আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?             অকেজো এবং ভুল উত্তর         72
My order is delayed. What should I do              Useless and wrong answer    46
How long does it take to receive my product        Useless and wrong answer    44
Why do I see failed delivery attempt               Useless and wrong answer    30
কার্ট থেকে অর্ডার করবো কিভাবে?                     অকেজো এবং ভুল উত্তর         25
                                                                               ..
I have filed a return but haven't received update  Useless and wrong answer     1
I have lost my invoice paper                       Useless and wrong answer     1
I have not received any bKash cashback yet         Useless and wrong answer     1
I want seller's phone number                       Too many words to read       1
সেলারের নামে কমপ্লেইন করবো কিভাবে ?                অকেজো এবং ভুল উত্তর          1
Length: 262, dtype: int64

In [40]:
no_duplicates_df[['Standard Knowledge Title','Unsatisfied Reason']].value_counts().head(5)

Standard Knowledge Title                     Unsatisfied Reason
আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?       অকেজো এবং ভুল উত্তর         72
My order is delayed. What should I do        Useless and wrong answer    46
How long does it take to receive my product  Useless and wrong answer    44
Why do I see failed delivery attempt         Useless and wrong answer    30
কার্ট থেকে অর্ডার করবো কিভাবে?               অকেজো এবং ভুল উত্তর         25
dtype: int64

In [34]:
filtered_df.shape

(20, 43)

In [8]:
len(CD_07040710.columns)

42

In [9]:
len(CD_06270703.columns)

42

In [10]:
len(CD_07130719.columns)

42

In [11]:
len(CD_07180724.columns)

42