In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

import seaborn as sns

### Upload CPR acccording to the week

In [4]:
CPR_df = pd.read_csv('2022_04250501_CPR_W17.csv')

In [5]:
CPR_df.head()

,date_id,tenant_name,robot_code_name,from_name,Knowledge Type,Knowledge Id,Knowledge Name,Solution Id,Solution Name,Chats,sid_cnt,Session_Resolved_Rate,Switch_to_Live_Agent_Rate,Survey_Response_Rate,Chat_Unsatisfied_Rate
0,20220424,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,大招,1000068200,Need help,NaN,NaN,1497,922,0.655098,0.300434,0.0,NaN
1,20220418,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,小招,1000055995,Greeting,NaN,NaN,1332,748,0.779273,0.188425,0.0,NaN
2,20220424,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-DD-App,FAQ,1000015459,How can I track my order,NaN,NaN,1241,1128,0.931738,0.038121,0.0,NaN
3,20220423,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,大招,1000068200,Need help,NaN,NaN,1211,831,0.596871,0.328520,0.0,NaN
4,20220419,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,大招,1000068200,Need help,NaN,NaN,1178,808,0.583643,0.369269,0.0,NaN

In [ ]:
CPR_df_LC = CPR_df[CPR_df['robot_code_name'] == 'BD-Daz-LC']
CPR_df_EN = CPR_df[CPR_df['robot_code_name'] == 'BD-Daz-EN']

#### Total Session Resolved

##### LC

In [ ]:
CPR_df_LC['total_session_resolved'] = 0
for i in range(len(CPR_df_LC)):
    CPR_df_LC['total_session_resolved'][i] = CPR_df_LC['sid_cnt'][i]*CPR_df_LC['Session_Resolved_Rate'][i]

##### EN

In [22]:
CPR_df_EN['total_session_resolved'] = 0
for i in range(len(CPR_df_EN)):
    CPR_df_EN['total_session_resolved'][i] = CPR_df_EN['sid_cnt'][i]*CPR_df_EN['Session_Resolved_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_23640/1795389327.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_session_resolved'][i] = df['sid_cnt'][i]*df['Session_Resolved_Rate'][i]

#### Total Count for Switch_to_LiveAgent

##### LC

In [ ]:
CPR_df_LC['total_switch_agent'] = 0 
for i in range(len(CPR_df_LC)):
    CPR_df_LC['total_switch_agent'][i] = CPR_df_LC['sid_cnt'][i]*CPR_df_LC['Switch_to_Live_Agent_Rate'][i]

##### EN

In [25]:
CPR_df_EN['total_switch_agent'] = 0
for i in range(len(CPR_df_EN)):
    CPR_df_EN['total_switch_agent'][i] = CPR_df_EN['sid_cnt'][i]*CPR_df_EN['Switch_to_Live_Agent_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_23640/35469462.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_switch_agent'][i] = df['sid_cnt'][i]*df['Switch_to_Live_Agent_Rate'][i]

#### Response Count (Chat Level)

##### LC

In [26]:
CPR_df_LC['response_count'] = 0
for i in range(len(CPR_df_LC)):
    CPR_df_LC['response_count'][i] = CPR_df_LC['Chats'][i]*CPR_df_LC['Survey_Response_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_23640/387303835.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['response_count'][i] = df['Chats'][i]*df['Survey_Response_Rate'][i]

##### EN

In [ ]:
CPR_df_EN['response_count'] = 0
for i in range(len(CPR_df_EN)):
    CPR_df_EN['response_count'][i] = CPR_df_EN['Chats'][i]*CPR_df_EN['Survey_Response_Rate'][i]

#### Unsatisfied Count (Chat Level)

##### LC

In [27]:
CPR_df_LC['unsatisfied_count'] = 0
for i in range(len(CPR_df_LC)):
    CPR_df_LC['unsatisfied_count'][i] = CPR_df_LC['response_count'][i]*CPR_df_LC['Chat_Unsatisfied_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_23640/2307856452.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['unsatisfied_count'][i] = df['response_count'][i]*df['Chat_Unsatisfied_Rate'][i]
c:\Users\Daraz\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

##### EN

In [ ]:
CPR_df_EN['unsatisfied_count'] = 0
for i in range(len(CPR_df_EN)):
    CPR_df_EN['unsatisfied_count'][i] = CPR_df_EN['response_count'][i]*CPR_df_EN['Chat_Unsatisfied_Rate'][i]

##### LC

In [30]:
CPR_df_LC[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']]

,total_session_resolved,total_switch_agent,response_count,unsatisfied_count
0,604,276,0,NaN
1,582,140,0,NaN
2,1051,42,0,NaN
3,495,273,0,NaN
4,471,298,0,NaN
...,...,...,...,...
6035,0,0,1,0.0
6036,1,0,0,NaN
6037,1,0,0,NaN
6038,1,0,0,NaN
6039,1,0,0,NaN

##### EN

In [ ]:
CPR_df_EN[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']]

##### LC

In [31]:
CPR_df_LC['unsatisfied_count'] = CPR_df_LC['unsatisfied_count'].fillna(0)

##### EN

In [ ]:
CPR_df_EN['unsatisfied_count'] = CPR_df_EN['unsatisfied_count'].fillna(0)

##### LC

In [32]:
CPR_df_LC[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']]

,total_session_resolved,total_switch_agent,response_count,unsatisfied_count
0,604,276,0,0.0
1,582,140,0,0.0
2,1051,42,0,0.0
3,495,273,0,0.0
4,471,298,0,0.0
...,...,...,...,...
6035,0,0,1,0.0
6036,1,0,0,0.0
6037,1,0,0,0.0
6038,1,0,0,0.0
6039,1,0,0,0.0

##### EN

In [ ]:
CPR_df_EN[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']]

### Creating a Pivot Table

##### LC

In [57]:
CPR_df_LC_pivottable = pd.pivot_table(CPR_df_LC, values = ['Chats','sid_cnt','total_session_resolved','total_switch_agent','unsatisfied_count'],
                       index= ['Knowledge Name'], aggfunc = np.sum)

##### EN

In [ ]:
CPR_df_EN_pivottable = pd.pivot_table(CPR_df_EN, values = ['Chats','sid_cnt','total_session_resolved','total_switch_agent','unsatisfied_count'],
                       index= ['Knowledge Name'], aggfunc = np.sum)

In [58]:
display(CPR_df_LC_pivottable)
display(CPR_df_EN_pivottable)

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count
Knowledge Name,,,,,
when will i get my refund,1,1,1,0,0.0
Account management related query,339,320,188,100,0.0
Account management shongkranto query,62,58,36,15,0.0
Add to Cart offer ti kibhabe pabo,1,1,1,0,0.0
After returning the item how much time is needed to get the refund,1,1,1,0,0.0
...,...,...,...,...,...
return-postmatch,46,46,39,2,1.0
test_daraz_bd,5,5,5,0,0.0
আমার অর্ডার কোথায়?,1,1,1,0,0.0
আমি কি আইটেমটি রিটার্ন করতে পারবো,2,1,1,0,0.0
রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?,1,1,1,0,0.0

In [65]:
CPR_df_LC_pivottable = CPR_df_LC_pivottable.sort_values('sid_cnt', ascending = False) # For LC
CPR_df_EN_pivottable = CPR_df_EN_pivottable.sort_values('sid_cnt', ascending = False) # For EN

In [66]:
display(CPR_df_LC_pivottable)
display(CPR_df_EN_pivottable)

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count
Knowledge Name,,,,,
How can I track my order,15226,12845,10824,1422,0.000000
How long does it take to receive my product,15493,11766,9991,1086,230.586148
Greeting,15875,10290,7990,1833,0.000000
Need help,10984,7772,4671,2645,0.000000
How to cancel my order,9630,6791,5812,423,0.000000
...,...,...,...,...,...
I didn't get refund it's money,4,1,1,0,0.000000
I have asked for refund but still hasn't received it (bkash refund) it's been more then 3/4 days,2,1,1,0,0.000000
"I have lost Daraz box, what can I do now",1,1,1,0,0.000000
I have placed an order but now need to change the color of the product,1,1,1,0,0.000000
রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?,1,1,1,0,0.000000

#### RR Calculation

##### LC

In [69]:
CPR_df_LC_pivottable['RR'] = 0
for i in range(len(CPR_df_LC_pivottable)):
    CPR_df_LC_pivottable['RR'][i] = (CPR_df_LC_pivottable['total_session_resolved'][i]/CPR_df_LC_pivottable['sid_cnt'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_23640/1036839326.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['RR'][i] = (table['total_session_resolved'][i]/table['sid_cnt'][i])*100

##### EN

In [ ]:
CPR_df_EN_pivottable['RR'] = 0
for i in range(len(CPR_df_EN_pivottable)):
    CPR_df_EN_pivottable['RR'][i] = (CPR_df_EN_pivottable['total_session_resolved'][i]/CPR_df_EN_pivottable['sid_cnt'][i])*100

#### STA Calculation

##### LC

In [71]:
CPR_df_LC_pivottable['STA'] = 0
for i in range(len(CPR_df_LC_pivottable)):
    CPR_df_LC_pivottable['STA'][i] = (CPR_df_LC_pivottable['total_switch_agent'][i]/CPR_df_LC_pivottable['sid_cnt'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_23640/575933968.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['STA'][i] = (table['total_switch_agent'][i]/table['sid_cnt'][i])*100

##### EN

In [ ]:
CPR_df_EN_pivottable['STA'] = 0
for i in range(len(CPR_df_EN_pivottable)):
    CPR_df_EN_pivottable['STA'][i] = (CPR_df_EN_pivottable['total_switch_agent'][i]/CPR_df_EN_pivottable['sid_cnt'][i])*100

#### UR calculation

##### LC

In [72]:
CPR_df_LC_pivottable['UR'] = 0
for i in range(len(CPR_df_LC_pivottable)):
    CPR_df_LC_pivottable['UR'][i] = (CPR_df_LC_pivottable['unsatisfied_count'][i]/CPR_df_LC_pivottable['Chats'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_23640/2979933049.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['UR'][i] = (table['unsatisfied_count'][i]/table['Chats'][i])*100

##### EN

In [ ]:
CPR_df_EN_pivottable['UR'] = 0
for i in range(len(CPR_df_EN_pivottable)):
    CPR_df_EN_pivottable['UR'][i] = (CPR_df_EN_pivottable['unsatisfied_count'][i]/CPR_df_EN_pivottable['Chats'][i])*100

In [74]:
display(CPR_df_LC_pivottable.head())
display(CPR_df_EN_pivottable.head())

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count,RR,STA,UR
Knowledge Name,,,,,,,,
How can I track my order,15226,12845,10824,1422,0.000000,84,11,0
How long does it take to receive my product,15493,11766,9991,1086,230.586148,84,9,1
Greeting,15875,10290,7990,1833,0.000000,77,17,0
Need help,10984,7772,4671,2645,0.000000,60,34,0
How to cancel my order,9630,6791,5812,423,0.000000,85,6,0

#### RR, STA, UR numbers

##### LC

In [76]:
CPR_df_LC_pivottable[['RR','STA','UR']].head(15)

                                             RR  STA  UR
Knowledge Name
How can I track my order                     84   11   0
How long does it take to receive my product  84    9   1
Greeting                                     77   17   0
Need help                                    60   34   0
How to cancel my order                       85    6   0
Can I return an Item                         81   10   0
My order is delayed. What should I do        79   15   3
Amar ponno delivery hote kotodin lagbe       91    4   1
Talk to Agent                                56   37   0
How long is the refund process               76   16   0
Need more help                               36   57   0
Order-postmatch                              79   10   3
Why do I see failed delivery attempt         87    7   3
All about BNY campaign                       64   29   0
Order related query                          63   28   0

##### EN

In [3]:
CPR_df_EN_pivottable[['RR','STA','UR']].head(15)

NameError: name 'CPR_df_EN_pivottable' is not defined

In [4]:
data_vis = pd.read_csv(r'C:\Users\Daraz\Desktop\My_stuff\Report_writing\Data Folder\2022_RRSTA_W1-Current.csv')

In [5]:
sns.set_theme()

In [ ]:
plt.stackplot()