In [3]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, display_html
import plotly.graph_objects as go

### Upload CPR acccording to the week

In [3]:
CPR_df16 = pd.read_csv('2022_04180424_CPR_W16.csv') 
CPR_df17 = pd.read_csv('2022_04250501_CPR_W17.csv')

In [4]:
display(CPR_df16.head())
display(CPR_df17.head())

,date_id,tenant_name,robot_code_name,from_name,Knowledge Type,Knowledge Id,Knowledge Name,Solution Id,Solution Name,Chats,sid_cnt,Session_Resolved_Rate,Switch_to_Live_Agent_Rate,Survey_Response_Rate,Chat_Unsatisfied_Rate
0,20220424,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,大招,1000068200,Need help,NaN,NaN,1497,922,0.655098,0.300434,0.0,NaN
1,20220418,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,小招,1000055995,Greeting,NaN,NaN,1332,748,0.779273,0.188425,0.0,NaN
2,20220424,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-DD-App,FAQ,1000015459,How can I track my order,NaN,NaN,1241,1128,0.931738,0.038121,0.0,NaN
3,20220423,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,大招,1000068200,Need help,NaN,NaN,1211,831,0.596871,0.328520,0.0,NaN
4,20220419,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,大招,1000068200,Need help,NaN,NaN,1178,808,0.583643,0.369269,0.0,NaN

,date_id,tenant_name,robot_code_name,from_name,Knowledge Type,Knowledge Id,Knowledge Name,Solution Id,Solution Name,Chats,sid_cnt,Session_Resolved_Rate,Switch_to_Live_Agent_Rate,Survey_Response_Rate,Chat_Unsatisfied_Rate
0,20220426,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-DD-App,FAQ,1000015459,How can I track my order,NaN,NaN,1543,1385,0.927076,0.036101,0.000000,NaN
1,20220429,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-DD-App,FAQ,1000069823,আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?,193869.0,Item don't delivered(with estimated date) (Local),1498,1082,0.896488,0.033272,0.127503,0.230366
2,20220427,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-DD-App,FAQ,1000015459,How can I track my order,NaN,NaN,1485,1348,0.917656,0.043769,0.000000,NaN
3,20220428,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-DD-App,FAQ,1000015459,How can I track my order,NaN,NaN,1482,1349,0.935508,0.036323,0.000000,NaN
4,20220501,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,大招,1000068200,Need help,NaN,NaN,1359,670,0.864179,0.000000,0.000000,NaN

In [5]:
CPR_df17[CPR_df17['robot_code_name'] == 'BD-Daz-LC'].head()

,date_id,tenant_name,robot_code_name,from_name,Knowledge Type,Knowledge Id,Knowledge Name,Solution Id,Solution Name,Chats,sid_cnt,Session_Resolved_Rate,Switch_to_Live_Agent_Rate,Survey_Response_Rate,Chat_Unsatisfied_Rate
1,20220429,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-DD-App,FAQ,1000069823,আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?,193869.0,Item don't delivered(with estimated date) (Local),1498,1082,0.896488,0.033272,0.127503,0.230366
8,20220501,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-DD-App,FAQ,1000069823,আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?,193869.0,Item don't delivered(with estimated date) (Local),1256,903,0.903654,0.000000,0.138535,0.310345
9,20220430,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-DD-App,FAQ,1000069823,আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?,193869.0,Item don't delivered(with estimated date) (Local),1244,932,0.881974,0.025751,0.127814,0.295597
20,20220429,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-DD-App,FAQ,1000071050,আমার সাহায্য লাগবে,NaN,NaN,933,830,0.827711,0.091566,0.000000,NaN
22,20220430,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-DD-App,FAQ,1000071050,আমার সাহায্য লাগবে,NaN,NaN,907,795,0.827673,0.098113,0.000000,NaN

In [6]:
#Week16
CPR_df_LC16 = CPR_df16[CPR_df16['robot_code_name'] == 'BD-Daz-LC']
CPR_df_EN16 = CPR_df16[CPR_df16['robot_code_name'] == 'BD-Daz-EN']

In [7]:
#Week17
CPR_df_LC17 = CPR_df17[CPR_df17['robot_code_name'] == 'BD-Daz-LC']
CPR_df_EN17 = CPR_df17[CPR_df17['robot_code_name'] == 'BD-Daz-EN']

In [8]:
#Week16
CPR_df_LC16 = CPR_df_LC16.reset_index()
CPR_df_EN16 = CPR_df_EN16.reset_index()

In [9]:
#Week17
CPR_df_LC17 = CPR_df_LC17.reset_index()
CPR_df_EN17 = CPR_df_EN17.reset_index()

In [10]:
#Week16
CPR_df_LC16 = CPR_df_LC16.drop('index', axis=1)
CPR_df_EN16 = CPR_df_EN16.drop('index', axis=1)

In [11]:
#Week17
CPR_df_LC17 = CPR_df_LC17.drop('index', axis=1)
CPR_df_EN17 = CPR_df_EN17.drop('index', axis=1)

In [12]:
display(CPR_df_LC16.head(2))
display(CPR_df_EN16.head(2))

display(CPR_df_LC17.head(2))
display(CPR_df_EN17.head(2))

,date_id,tenant_name,robot_code_name,from_name,Knowledge Type,Knowledge Id,Knowledge Name,Solution Id,Solution Name,Chats,sid_cnt,Session_Resolved_Rate,Switch_to_Live_Agent_Rate,Survey_Response_Rate,Chat_Unsatisfied_Rate
0,20220424,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-HC-App,FAQ,1000068818,আমার অর্ডার কোথায়?,NaN,NaN,341,289,0.726644,0.16263,0.005865,0.0
1,20220419,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-HC-App,FAQ,1000068818,আমার অর্ডার কোথায়?,NaN,NaN,313,264,0.670455,0.19697,0.000000,NaN

,date_id,tenant_name,robot_code_name,from_name,Knowledge Type,Knowledge Id,Knowledge Name,Solution Id,Solution Name,Chats,sid_cnt,Session_Resolved_Rate,Switch_to_Live_Agent_Rate,Survey_Response_Rate,Chat_Unsatisfied_Rate
0,20220424,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,大招,1000068200,Need help,NaN,NaN,1497,922,0.655098,0.300434,0.0,NaN
1,20220418,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,小招,1000055995,Greeting,NaN,NaN,1332,748,0.779273,0.188425,0.0,NaN

,date_id,tenant_name,robot_code_name,from_name,Knowledge Type,Knowledge Id,Knowledge Name,Solution Id,Solution Name,Chats,sid_cnt,Session_Resolved_Rate,Switch_to_Live_Agent_Rate,Survey_Response_Rate,Chat_Unsatisfied_Rate
0,20220429,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-DD-App,FAQ,1000069823,আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?,193869.0,Item don't delivered(with estimated date) (Local),1498,1082,0.896488,0.033272,0.127503,0.230366
1,20220501,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-DD-App,FAQ,1000069823,আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?,193869.0,Item don't delivered(with estimated date) (Local),1256,903,0.903654,0.000000,0.138535,0.310345

,date_id,tenant_name,robot_code_name,from_name,Knowledge Type,Knowledge Id,Knowledge Name,Solution Id,Solution Name,Chats,sid_cnt,Session_Resolved_Rate,Switch_to_Live_Agent_Rate,Survey_Response_Rate,Chat_Unsatisfied_Rate
0,20220426,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-DD-App,FAQ,1000015459,How can I track my order,NaN,NaN,1543,1385,0.927076,0.036101,0.0,NaN
1,20220427,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-DD-App,FAQ,1000015459,How can I track my order,NaN,NaN,1485,1348,0.917656,0.043769,0.0,NaN

#### Total Session Resolved

##### Week 16

##### LC

In [13]:
CPR_df_LC16['total_session_resolved'] = 0
for i in range(len(CPR_df_LC16)):
    CPR_df_LC16['total_session_resolved'][i] = CPR_df_LC16['sid_cnt'][i]*CPR_df_LC16['Session_Resolved_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/3891984318.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### EN

In [14]:
CPR_df_EN16['total_session_resolved'] = 0
for i in range(len(CPR_df_EN16)):
    CPR_df_EN16['total_session_resolved'][i] = CPR_df_EN16['sid_cnt'][i]*CPR_df_EN16['Session_Resolved_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/3625430700.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### Week 17

##### LC

In [15]:
CPR_df_LC17['total_session_resolved'] = 0
for i in range(len(CPR_df_LC17)):
    CPR_df_LC17['total_session_resolved'][i] = CPR_df_LC17['sid_cnt'][i]*CPR_df_LC17['Session_Resolved_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/2883821719.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### EN

In [16]:
CPR_df_EN17['total_session_resolved'] = 0
for i in range(len(CPR_df_EN17)):
    CPR_df_EN17['total_session_resolved'][i] = CPR_df_EN17['sid_cnt'][i]*CPR_df_EN17['Session_Resolved_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/1424532037.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#### Total Count for Switch_to_LiveAgent

##### Week 16

##### LC

In [17]:
CPR_df_LC16['total_switch_agent'] = 0 
for i in range(len(CPR_df_LC16)):
    CPR_df_LC16['total_switch_agent'][i] = CPR_df_LC16['sid_cnt'][i]*CPR_df_LC16['Switch_to_Live_Agent_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/3170445784.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### EN

In [18]:
CPR_df_EN16['total_switch_agent'] = 0
for i in range(len(CPR_df_EN16)):
    CPR_df_EN16['total_switch_agent'][i] = CPR_df_EN16['sid_cnt'][i]*CPR_df_EN16['Switch_to_Live_Agent_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/760038606.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### Week 17

##### LC

In [19]:
CPR_df_LC17['total_switch_agent'] = 0 
for i in range(len(CPR_df_LC17)):
    CPR_df_LC17['total_switch_agent'][i] = CPR_df_LC17['sid_cnt'][i]*CPR_df_LC17['Switch_to_Live_Agent_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/501686753.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### EN

In [20]:
CPR_df_EN17['total_switch_agent'] = 0
for i in range(len(CPR_df_EN17)):
    CPR_df_EN17['total_switch_agent'][i] = CPR_df_EN17['sid_cnt'][i]*CPR_df_EN17['Switch_to_Live_Agent_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/2928418557.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#### Response Count (Chat Level)

##### Week 16

##### LC

In [21]:
CPR_df_LC16['response_count'] = 0
for i in range(len(CPR_df_LC16)):
    CPR_df_LC16['response_count'][i] = CPR_df_LC16['Chats'][i]*CPR_df_LC16['Survey_Response_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/1003628000.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### EN

In [22]:
CPR_df_EN16['response_count'] = 0
for i in range(len(CPR_df_EN16)):
    CPR_df_EN16['response_count'][i] = CPR_df_EN16['Chats'][i]*CPR_df_EN16['Survey_Response_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/3252230896.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### Week 17

##### LC

In [23]:
CPR_df_LC17['response_count'] = 0
for i in range(len(CPR_df_LC16)):
    CPR_df_LC16['response_count'][i] = CPR_df_LC16['Chats'][i]*CPR_df_LC16['Survey_Response_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/3775413388.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### EN

In [24]:
CPR_df_EN17['response_count'] = 0
for i in range(len(CPR_df_EN17)):
    CPR_df_EN17['response_count'][i] = CPR_df_EN17['Chats'][i]*CPR_df_EN17['Survey_Response_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/1050758998.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#### Unsatisfied Count (Chat Level)

##### Week 16

##### LC

In [25]:
CPR_df_LC16['unsatisfied_count'] = 0
for i in range(len(CPR_df_LC16)):
    CPR_df_LC16['unsatisfied_count'][i] = CPR_df_LC16['response_count'][i]*CPR_df_LC16['Chat_Unsatisfied_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/973086940.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\Daraz\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### EN

In [26]:
CPR_df_EN16['unsatisfied_count'] = 0
for i in range(len(CPR_df_EN16)):
    CPR_df_EN16['unsatisfied_count'][i] = CPR_df_EN16['response_count'][i]*CPR_df_EN16['Chat_Unsatisfied_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/3431829440.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### Week 17

##### LC

In [27]:
CPR_df_LC17['unsatisfied_count'] = 0
for i in range(len(CPR_df_LC17)):
    CPR_df_LC17['unsatisfied_count'][i] = CPR_df_LC17['response_count'][i]*CPR_df_LC17['Chat_Unsatisfied_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/2994948139.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### EN

In [28]:
CPR_df_EN17['unsatisfied_count'] = 0
for i in range(len(CPR_df_EN17)):
    CPR_df_EN17['unsatisfied_count'][i] = CPR_df_EN17['response_count'][i]*CPR_df_EN17['Chat_Unsatisfied_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/2688581976.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### Week 16

##### LC

In [29]:
CPR_df_LC16[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']].head(2)

,total_session_resolved,total_switch_agent,response_count,unsatisfied_count
0,210,46,1,0.0
1,177,51,0,NaN

##### EN

In [30]:
CPR_df_EN16[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']].head(2)

,total_session_resolved,total_switch_agent,response_count,unsatisfied_count
0,604,277,0,NaN
1,582,140,0,NaN

##### Week 17

##### LC

In [31]:
CPR_df_LC17[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']].head(2)

,total_session_resolved,total_switch_agent,response_count,unsatisfied_count
0,970,36,0,0.0
1,816,0,0,0.0

##### EN

In [32]:
CPR_df_EN17[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']].head(2)

,total_session_resolved,total_switch_agent,response_count,unsatisfied_count
0,1284,49,0,NaN
1,1237,58,0,NaN

##### Week 16

##### LC

In [33]:
CPR_df_LC16['unsatisfied_count'] = CPR_df_LC16['unsatisfied_count'].fillna(0)

##### EN

In [34]:
CPR_df_EN16['unsatisfied_count'] = CPR_df_EN16['unsatisfied_count'].fillna(0)

##### Week 17

##### LC

In [35]:
CPR_df_LC17['unsatisfied_count'] = CPR_df_LC17['unsatisfied_count'].fillna(0)

##### EN

In [36]:
CPR_df_EN17['unsatisfied_count'] = CPR_df_EN17['unsatisfied_count'].fillna(0)

##### Week 16

##### LC

In [37]:
CPR_df_LC16[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']]

,total_session_resolved,total_switch_agent,response_count,unsatisfied_count
0,210,46,1,0.000000
1,177,51,0,0.000000
2,196,35,2,2.000000
3,159,35,2,0.666667
4,148,42,4,1.600000
...,...,...,...,...
1552,1,0,0,0.000000
1553,1,0,0,0.000000
1554,0,0,0,0.000000
1555,1,0,0,0.000000
1556,0,0,0,0.000000

##### EN

In [38]:
CPR_df_EN16[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']]

,total_session_resolved,total_switch_agent,response_count,unsatisfied_count
0,604,277,0,0.0
1,582,140,0,0.0
2,1051,42,0,0.0
3,496,273,0,0.0
4,471,298,0,0.0
...,...,...,...,...
6032,1,0,0,0.0
6033,1,0,0,0.0
6034,1,0,0,0.0
6035,1,0,1,0.0
6036,1,0,0,0.0

##### Week 17

In [39]:
CPR_df_LC17[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']]

,total_session_resolved,total_switch_agent,response_count,unsatisfied_count
0,970,36,0,0.0
1,816,0,0,0.0
2,822,23,0,0.0
3,687,75,0,0.0
4,658,78,0,0.0
...,...,...,...,...
2363,0,0,0,0.0
2364,1,0,0,0.0
2365,1,0,0,0.0
2366,0,0,0,0.0
2367,1,0,0,0.0

In [40]:
CPR_df_EN17[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']]

,total_session_resolved,total_switch_agent,response_count,unsatisfied_count
0,1284,49,0,0.0
1,1237,58,0,0.0
2,1262,49,0,0.0
3,579,0,0,0.0
4,1123,50,0,0.0
...,...,...,...,...
5694,1,0,0,0.0
5695,1,0,0,0.0
5696,0,1,0,0.0
5697,0,1,0,0.0
5698,0,1,0,0.0

### Creating a Pivot Table

##### Week 16

##### LC

In [41]:
CPR_df_LC_pivottable16 = pd.pivot_table(CPR_df_LC16, values = ['Chats','sid_cnt','total_session_resolved','total_switch_agent','unsatisfied_count'],
                       index= ['Knowledge Name'], aggfunc = np.sum)

##### EN

In [42]:
CPR_df_EN_pivottable16 = pd.pivot_table(CPR_df_EN16, values = ['Chats','sid_cnt','total_session_resolved','total_switch_agent','unsatisfied_count'],
                       index= ['Knowledge Name'], aggfunc = np.sum)

##### Week 17

In [43]:
CPR_df_LC_pivottable17 = pd.pivot_table(CPR_df_LC17, values = ['Chats','sid_cnt','total_session_resolved','total_switch_agent','unsatisfied_count'],
                       index= ['Knowledge Name'], aggfunc = np.sum)

In [44]:
CPR_df_EN_pivottable17 = pd.pivot_table(CPR_df_EN17, values = ['Chats','sid_cnt','total_session_resolved','total_switch_agent','unsatisfied_count'],
                       index= ['Knowledge Name'], aggfunc = np.sum)

In [45]:
display(CPR_df_LC_pivottable16)
display(CPR_df_EN_pivottable16)

display(CPR_df_LC_pivottable17)
display(CPR_df_EN_pivottable17)

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count
Knowledge Name,,,,,
Local_SOP_testing_C1 (Local),12,11,7,1,0.0
Local_SOP_testing_C2 (Local),28,24,16,3,0.0
Local_SOP_testing_R1 (Local),6,5,1,2,1.0
Local_SOP_testing_R2 (Local),16,14,8,3,1.0
Local_SOP_testing_R4 (Local),25,15,10,2,0.0
...,...,...,...,...,...
স্টিকার প্রাইস কিভাবে অ্যাভেইল করবো?,5,5,4,1,0.0
হট ডিলস অফার কি ?,2,2,0,1,0.0
১ টাকার গেম কিভাবে খেলবো ?,1,1,1,0,0.0
১১ ও ক্লক ডিলস কী?,5,5,4,0,1.0
৭ দিন হয়ে গেছে এখনো আমার টাকা পাচ্ছি না রিফান্ড কবে পাবো,2,2,0,2,0.0

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count
Knowledge Name,,,,,
Account management related query,339,320,194,103,0.0
Account management shongkranto query,62,58,37,19,0.0
Add to Cart offer ti kibhabe pabo,1,1,1,0,0.0
After returning the item how much time is needed to get the refund,1,1,1,0,0.0
Alada delivery charge keno neya hoy shob ponner jonno,76,75,69,0,1.0
...,...,...,...,...,...
refund voucher er timeline koto,7,7,6,1,0.0
return er karonti jodi valid na hoy tokhon ki hobe,11,11,8,1,0.0
return-postmatch,46,46,40,1,1.0
test_daraz_bd,5,5,5,0,0.0
when will i get my refund,1,1,1,0,0.0

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count
Knowledge Name,,,,,
Ai tar taka ferot chai,1,1,0,0,0.0
Ata refund pete koto din lagbe,19,15,10,0,0.0
Local_SOP_testing_R2 (Local),2,2,2,0,0.0
অনলাইন রিটার্ন ফর্ম কিভাবে পূরণ করবো ?,1,1,1,0,0.0
অনেক দিন হৈছে রিটার্ন দিছি জলদি টাকা দেন,1,1,1,0,0.0
...,...,...,...,...,...
স্টিকার প্রাইস কিভাবে অ্যাভেইল করবো?,16,16,15,0,0.0
হট ডিলস অফার কি ?,2,2,1,1,0.0
১১ ও ক্লক ডিলস কী?,18,17,15,2,0.0
৭ দি হলো রিফান্ড হয় নাই,1,1,1,0,0.0
৭ দিন হয়ে গেছে এখনো আমার টাকা পাচ্ছি না রিফান্ড কবে পাবো,5,4,4,0,0.0

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count
Knowledge Name,,,,,
Account management related query,234,214,121,75,0.0
Account management shongkranto query,42,37,23,10,0.0
Add to Cart offer ti kibhabe pabo,2,2,2,0,0.0
Alada delivery charge keno neya hoy shob ponner jonno,33,32,27,5,1.0
All about BNY campaign,3371,2226,1438,611,0.0
...,...,...,...,...,...
refund via voucher mane ki,2,2,2,0,0.0
refund voucher er timeline koto,11,11,9,1,0.0
return er karonti jodi valid na hoy tokhon ki hobe,6,6,4,2,0.0
return label download korte parbo pc theke,1,1,1,0,0.0
return-postmatch,1,1,1,0,0.0

##### Week 16

In [46]:
CPR_df_LC_pivottable16 = CPR_df_LC_pivottable16.sort_values('sid_cnt', ascending = False) # For LC
CPR_df_EN_pivottable16 = CPR_df_EN_pivottable16.sort_values('sid_cnt', ascending = False) # For EN

##### Week 17

In [47]:
CPR_df_LC_pivottable17 = CPR_df_LC_pivottable17.sort_values('sid_cnt', ascending = False) #For LC
CPR_df_EN_pivottable17 = CPR_df_EN_pivottable17.sort_values('sid_cnt', ascending = False) #For EN

In [48]:
display(CPR_df_LC_pivottable16)
display(CPR_df_EN_pivottable16)

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count
Knowledge Name,,,,,
আমার অর্ডার কোথায়?,2967,2037,1373,365,15.600000
আমি কি আমার অর্ডারটি বাতিল করতে পারি?,1300,938,638,154,23.658333
আমি কি আইটেমটি রিটার্ন করতে পারবো,1226,903,641,134,8.566667
রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?,983,768,540,121,2.000000
ক্যাম্পেইন বিষয়ে,906,620,353,174,0.000000
...,...,...,...,...,...
আমি দারাজে স্পনসরশিপ করতে চাইলে কার সাথে যোগাযোগ করবো ?,1,1,1,0,0.000000
আমি দারাজে কিভাবে একাউন্ট খুলবো ?,1,1,0,1,0.000000
আমি ডেলিভারির সময় খালি বক্স পেয়েছি,1,1,1,0,0.000000
আমি কিভাবে ডি-কয়েনস পেতে পারি ?,1,1,1,0,0.000000
কালেক্টেবল ভাউচার বলতে কি বুঝায়?,1,1,0,1,0.000000

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count
Knowledge Name,,,,,
How can I track my order,15226,12845,10828,1420,0.000000
How long does it take to receive my product,15493,11766,10028,1054,219.744201
Greeting,15875,10290,7998,1826,0.000000
Need help,10984,7772,4673,2646,0.000000
How to cancel my order,9630,6791,5844,406,0.000000
...,...,...,...,...,...
I didn't get refund it's money,4,1,1,0,0.000000
I have asked for refund but still hasn't received it (bkash refund) it's been more then 3/4 days,2,1,1,0,0.000000
"I have lost Daraz box, what can I do now",1,1,1,0,0.000000
I have placed an order but now need to change the color of the product,1,1,1,0,0.000000
when will i get my refund,1,1,1,0,0.000000

In [49]:
display(CPR_df_LC_pivottable17)
display(CPR_df_EN_pivottable17)

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count
Knowledge Name,,,,,
আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?,12721,8927,7610,397,0.0
আমার সাহায্য লাগবে,6742,5762,4363,888,0.0
আমার অর্ডার আসতে দেরি হচ্ছে কেন ?,3350,3143,2810,95,0.0
অর্ডার কিভাবে ক্যান্সেল করব?,3867,2497,2104,87,0.0
আমি কি আইটেমটি রিটার্ন করতে পারবো,3226,2282,1959,97,0.0
...,...,...,...,...,...
দি-লাইভ ভাউচার কি,1,1,1,0,0.0
আমি ২৩ তারিকে রিফান্ড করছি এখনো রিফান্ড পাইনি,4,1,1,0,0.0
আর ১০ দিন হয়ে গেলো তাও রিফান্ড পাইলামনা,1,1,1,0,0.0
আলিবাবা ওয়েবসাইটের প্রোডাক্টগুলো কি দারাজ বাংলাদেশে অ্যাভেইলেবল আছে ?,1,1,1,0,0.0
Ai tar taka ferot chai,1,1,0,0,0.0

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count
Knowledge Name,,,,,
How can I track my order,16878,14065,12033,1257,0.000000
How long does it take to receive my product,17636,12959,11179,941,315.481167
Greeting,16065,10713,8573,1558,0.000000
Need help,10149,6707,4125,2163,0.000000
How to cancel my order,8284,5821,4984,343,0.000000
...,...,...,...,...,...
Unused account ki deactivate hoye jay,1,1,1,0,0.000000
Daraz e ki duivabe payment shomponno korte parbo,1,1,0,1,0.000000
Daraz e ki dhoroner ponno available royeche,1,1,1,0,0.000000
Vouchers are not stackable mane ki,1,1,0,0,1.000000
return-postmatch,1,1,1,0,0.000000

#### RR Calculation

##### Week 16

##### LC

In [50]:
CPR_df_LC_pivottable16['RR'] = 0
for i in range(len(CPR_df_LC_pivottable16)):
    CPR_df_LC_pivottable16['RR'][i] = (CPR_df_LC_pivottable16['total_session_resolved'][i]/CPR_df_LC_pivottable16['sid_cnt'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/19820394.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### EN

In [51]:
CPR_df_EN_pivottable16['RR'] = 0
for i in range(len(CPR_df_EN_pivottable16)):
    CPR_df_EN_pivottable16['RR'][i] = (CPR_df_EN_pivottable16['total_session_resolved'][i]/CPR_df_EN_pivottable16['sid_cnt'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/1830679842.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### Week 17

##### LC

In [52]:
CPR_df_LC_pivottable17['RR'] = 0
for i in range(len(CPR_df_LC_pivottable17)):
    CPR_df_LC_pivottable17['RR'][i] = (CPR_df_LC_pivottable17['total_session_resolved'][i]/CPR_df_LC_pivottable17['sid_cnt'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/2153294430.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### EN

In [53]:
CPR_df_EN_pivottable17['RR'] = 0
for i in range(len(CPR_df_EN_pivottable17)):
    CPR_df_EN_pivottable17['RR'][i] = (CPR_df_EN_pivottable17['total_session_resolved'][i]/CPR_df_EN_pivottable17['sid_cnt'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/3289350262.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#### STA Calculation

##### Week 16

##### LC

In [54]:
CPR_df_LC_pivottable16['STA'] = 0
for i in range(len(CPR_df_LC_pivottable16)):
    CPR_df_LC_pivottable16['STA'][i] = (CPR_df_LC_pivottable16['total_switch_agent'][i]/CPR_df_LC_pivottable16['sid_cnt'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/3739730160.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### EN

In [55]:
CPR_df_EN_pivottable16['STA'] = 0
for i in range(len(CPR_df_EN_pivottable16)):
    CPR_df_EN_pivottable16['STA'][i] = (CPR_df_EN_pivottable16['total_switch_agent'][i]/CPR_df_EN_pivottable16['sid_cnt'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/99525902.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### Week 17

##### LC

In [56]:
CPR_df_LC_pivottable17['STA'] = 0
for i in range(len(CPR_df_LC_pivottable17)):
    CPR_df_LC_pivottable17['STA'][i] = (CPR_df_LC_pivottable17['total_switch_agent'][i]/CPR_df_LC_pivottable17['sid_cnt'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/2386203988.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### EN

In [57]:
CPR_df_EN_pivottable17['STA'] = 0
for i in range(len(CPR_df_EN_pivottable17)):
    CPR_df_EN_pivottable17['STA'][i] = (CPR_df_EN_pivottable17['total_switch_agent'][i]/CPR_df_EN_pivottable17['sid_cnt'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/3568226220.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#### UR calculation

##### Week 16

##### LC

In [58]:
CPR_df_LC_pivottable16['UR'] = 0
for i in range(len(CPR_df_LC_pivottable16)):
    CPR_df_LC_pivottable16['UR'][i] = (CPR_df_LC_pivottable16['unsatisfied_count'][i]/CPR_df_LC_pivottable16['Chats'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/2851629690.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### EN

In [59]:
CPR_df_EN_pivottable16['UR'] = 0
for i in range(len(CPR_df_EN_pivottable16)):
    CPR_df_EN_pivottable16['UR'][i] = (CPR_df_EN_pivottable16['unsatisfied_count'][i]/CPR_df_EN_pivottable16['Chats'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/2366322561.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### Week 17

##### LC

In [60]:
CPR_df_LC_pivottable17['UR'] = 0
for i in range(len(CPR_df_LC_pivottable17)):
    CPR_df_LC_pivottable17['UR'][i] = (CPR_df_LC_pivottable17['unsatisfied_count'][i]/CPR_df_LC_pivottable17['Chats'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/1531296942.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### EN

In [61]:
CPR_df_EN_pivottable17['UR'] = 0
for i in range(len(CPR_df_EN_pivottable17)):
    CPR_df_EN_pivottable17['UR'][i] = (CPR_df_EN_pivottable17['unsatisfied_count'][i]/CPR_df_EN_pivottable17['Chats'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_21712/181449765.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [62]:
display(CPR_df_LC_pivottable16.head())
display(CPR_df_EN_pivottable16.head())

display(CPR_df_LC_pivottable17.head())
display(CPR_df_EN_pivottable17.head())

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count,RR,STA,UR
Knowledge Name,,,,,,,,
আমার অর্ডার কোথায়?,2967,2037,1373,365,15.600000,67,17,0
আমি কি আমার অর্ডারটি বাতিল করতে পারি?,1300,938,638,154,23.658333,68,16,1
আমি কি আইটেমটি রিটার্ন করতে পারবো,1226,903,641,134,8.566667,70,14,0
রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?,983,768,540,121,2.000000,70,15,0
ক্যাম্পেইন বিষয়ে,906,620,353,174,0.000000,56,28,0

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count,RR,STA,UR
Knowledge Name,,,,,,,,
How can I track my order,15226,12845,10828,1420,0.000000,84,11,0
How long does it take to receive my product,15493,11766,10028,1054,219.744201,85,8,1
Greeting,15875,10290,7998,1826,0.000000,77,17,0
Need help,10984,7772,4673,2646,0.000000,60,34,0
How to cancel my order,9630,6791,5844,406,0.000000,86,5,0

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count,RR,STA,UR
Knowledge Name,,,,,,,,
আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?,12721,8927,7610,397,0.0,85,4,0
আমার সাহায্য লাগবে,6742,5762,4363,888,0.0,75,15,0
আমার অর্ডার আসতে দেরি হচ্ছে কেন ?,3350,3143,2810,95,0.0,89,3,0
অর্ডার কিভাবে ক্যান্সেল করব?,3867,2497,2104,87,0.0,84,3,0
আমি কি আইটেমটি রিটার্ন করতে পারবো,3226,2282,1959,97,0.0,85,4,0

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count,RR,STA,UR
Knowledge Name,,,,,,,,
How can I track my order,16878,14065,12033,1257,0.000000,85,8,0
How long does it take to receive my product,17636,12959,11179,941,315.481167,86,7,1
Greeting,16065,10713,8573,1558,0.000000,80,14,0
Need help,10149,6707,4125,2163,0.000000,61,32,0
How to cancel my order,8284,5821,4984,343,0.000000,85,5,0

#### RR, STA, UR numbers

##### LC

##### Week 16

In [63]:
CPR_df_LC_pivottable_top16 = CPR_df_LC_pivottable16[['sid_cnt','RR','STA','UR']].sort_values('sid_cnt', ascending = False).head(20)
CPR_df_EN_pivottable_top16 = CPR_df_EN_pivottable16[['sid_cnt','RR','STA','UR']].sort_values('sid_cnt', ascending = False).head(20)

##### Week 17

In [64]:
CPR_df_LC_pivottable_top17 = CPR_df_LC_pivottable17[['sid_cnt','RR','STA','UR']].sort_values('sid_cnt', ascending = False).head(20)
CPR_df_EN_pivottable_top17 = CPR_df_EN_pivottable17[['sid_cnt','RR','STA','UR']].sort_values('sid_cnt', ascending = False).head(20)

### KT Comparision

In [65]:
df1_stylertop16LC = CPR_df_LC_pivottable_top16.style.set_table_attributes("style='display:inline'").set_caption('Week 16 LC')
df2_stylertop17LC = CPR_df_LC_pivottable_top17.style.set_table_attributes("style='display:inline'").set_caption('Week 17 LC')

df1_stylertop16EN = CPR_df_EN_pivottable_top16.style.set_table_attributes("style='display:inline'").set_caption('Week 16 EN')
df2_stylertop17EN = CPR_df_EN_pivottable_top17.style.set_table_attributes("style='display:inline'").set_caption('Week 17 EN')
 
display_html(df1_stylertop16LC._repr_html_()+df2_stylertop17LC._repr_html_(), raw=True)
display_html(df1_stylertop16EN._repr_html_()+df2_stylertop17EN._repr_html_(), raw=True)

,sid_cnt,RR,STA,UR
Knowledge Name,,,,
আমার অর্ডার কোথায়?,2037,67,17,0
আমি কি আমার অর্ডারটি বাতিল করতে পারি?,938,68,16,1
আমি কি আইটেমটি রিটার্ন করতে পারবো,903,70,14,0
রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?,768,70,15,0
ক্যাম্পেইন বিষয়ে,620,56,28,0
আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?,555,72,12,1
অর্ডার প্লেস করতে পারছি না কেন?,549,85,6,2
বিকাশে কোনো ক্যাশব্যাক আছে কি ?,323,68,18,8
আমার পণ্য ডেলিভারি হতে কতদিন লাগবে ?,323,79,8,1
আমার অর্ডারটি কবে ডেলিভারি পেতে পারি?,294,74,10,2
নতুন কাস্টমারদের জন্য কোনো ডিসকাউন্ট আছে কি ?,291,82,6,2
আমার অর্ডার আসতে দেরি হচ্ছে কেন ?,277,72,11,3
কত দ্রুত আমি আমার অর্ডার পেতে পারি?,276,63,15,2
কালেকশন পয়েন্টের ওটিপি কিভাবে পাবো ?,268,72,9,4
ডিজিটাল গুডস এর ডেলিভারি টাইমলাইন জানতে চাচ্ছি,198,75,10,2
দারাজ এ পেমেন্ট করতে পারছি না কেন?,195,77,11,1
গ্রিটিং পোষ্ট-ম্যাচ (Greeting postmatch),192,58,22,0
দারাজের হটলাইন নাম্বারটি জানতে চাই,191,79,6,1
কি কি পেমেন্ট পার্টনার ডিসকাউন্ট অ্যাভেইলেবল আছে ?,171,80,8,2
অর্ডার কিভাবে ক্যান্সেল করব?,169,75,12,0
,sid_cnt,RR,STA,UR
Knowledge Name,,,,
আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?,8927,85,4,0
আমার সাহায্য লাগবে,5762,75,15,0
আমার অর্ডার আসতে দেরি হচ্ছে কেন ?,3143,89,3,0
অর্ডার কিভাবে ক্যান্সেল করব?,2497,84,3,0
আমি কি আইটেমটি রিটার্ন করতে পারবো,2282,85,4,0
আরো সাহায্য প্রয়োজন (Need more help),2128,63,29,0
অর্ডার সক্রান্ত প্রশ্ন,1519,79,10,0
ডেলিভারি এটেম্পট ফেইলড দেখাচ্ছে কেন ?,1403,91,1,0
শিপিং এবং ডেলিভেরি সক্রান্ত প্রশ্ন,1277,75,16,0
রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?,1172,80,7,0
ভিন্ন বিষয় সংক্রান্ত প্রশ্ন,1144,66,25,0
গ্রিটিং পোষ্ট-ম্যাচ (Greeting postmatch),1038,79,7,0
আমার পণ্য ডেলিভারি হতে কতদিন লাগবে ?,864,87,3,0
আমার অর্ডারটি কবে ডেলিভারি পেতে পারি?,824,86,4,0
অর্ডার প্লেস করতে পারছি না কেন?,736,83,6,0
ক্যাম্পেইন বিষয়ে,584,69,18,0
আমার প্রশ্নটি উল্লেখিত নেই,546,69,14,0
কালেকশন পয়েন্টের ওটিপি কিভাবে পাবো ?,535,86,5,0
রিটার্ন সংক্রান্ত প্রশ্ন,420,81,8,0
কালেকশন পয়েন্ট কোন সময়ে খোলা থাকবে?,416,86,5,0

,sid_cnt,RR,STA,UR
Knowledge Name,,,,
How can I track my order,12845,84,11,0
How long does it take to receive my product,11766,85,8,1
Greeting,10290,77,17,0
Need help,7772,60,34,0
How to cancel my order,6791,86,5,0
Can I return an Item,5169,82,9,0
My order is delayed. What should I do,3786,79,14,3
Amar ponno delivery hote kotodin lagbe,3761,91,4,1
Talk to Agent,3202,56,37,0
How long is the refund process,3161,76,16,0
Need more help,3032,36,58,0
Order-postmatch,2843,79,10,3
Why do I see failed delivery attempt,2460,87,7,3
All about BNY campaign,1986,64,29,0
Order related query,1621,63,28,0
Is there any bKash cashback,1552,81,13,5
Other topic related query,1331,40,54,0
Shipping and delivery related query,1132,58,35,0
Amar order ashte deri hocche keno,1126,82,11,1
Amar order ti kobe delivery pete pari,1114,87,5,2
,sid_cnt,RR,STA,UR
Knowledge Name,,,,
How can I track my order,14065,85,8,0
How long does it take to receive my product,12959,86,7,1
Greeting,10713,80,14,0
Need help,6707,61,32,0
How to cancel my order,5821,85,5,0
My order is delayed. What should I do,4566,81,11,3
Amar ponno delivery hote kotodin lagbe,4565,91,3,1
Can I return an Item,4340,83,8,0
Talk to Agent,3477,63,30,0
Need more help,3034,44,50,0
Why do I see failed delivery attempt,2751,87,6,2
How long is the refund process,2748,78,13,0
Order-postmatch,2590,82,7,3
Is there any bKash cashback,2299,83,10,6
All about BNY campaign,2226,64,27,0
How can I avail mystery box,1643,59,36,0
Amar order ti kobe delivery pete pari,1410,88,5,2
Amar order ashte deri hocche keno,1339,84,8,1
Order related query,1323,61,28,0
Other topic related query,1220,45,49,0

### Data Visualization

In [5]:
data_vis = pd.read_csv(r'C:\Users\Daraz\Desktop\My_stuff\Report_writing\Data Folder\2022_RRSTA_W1-Current.csv')

In [86]:
data_vis.head()
data_vis.set_index('WEEK', inplace = True)

In [6]:
data_vis

    WEEK      RR     STA
0      1  72.15%  20.54%
1      2  69.06%  23.30%
2      3  72.06%  20.43%
3      4  73.18%  19.97%
4      5  73.87%  19.32%
5      6  70.44%  21.74%
6      7  69.62%  22.94%
7      8  72.78%  20.00%
8      9  72.23%  20.38%
9     10  79.69%  17.44%
10    11  81.62%  14.21%
11    12  80.59%  14.85%
12    13  82.48%  15.11%
13    14  77.68%  17.81%
14    15  85.19%  10.33%
15    16  82.74%  13.54%
16    17  83.64%  10.46%
17    18  82.84%  11.12%
18    19  82.51%  12.05%

In [7]:
data_vis['STA'] = data_vis['STA'].str.rstrip('%').astype(float)
data_vis['RR'] = data_vis['RR'].str.rstrip('%').astype(float)

In [9]:
# data_vis.plot(x='WEEK', y=['RR','STA'],
#               figsize = (15, 8), kind = 'area', 
#               stacked = False, colormap = 'autumn', grid = True,
#               style='.-', alpha = 0.5,
#              fontsize = 14, title = 'RR vs STA values from Week 1 to Week 19',
#              xlim = (1,19))

In [1]:
# import plotly.graph_objects as go

# x=[data_vis.WEEK]

# fig = go.Figure()
# fig.add_trace(go.Scatter(
#     x= x, y=[40, 60, 40, 10],
#     hoverinfo='x+y',
#     mode='lines',
#     line=dict(width=0.5, color='rgb(131, 90, 241)'),
#     stackgroup='one' # define stack group
# ))
# fig.add_trace(go.Scatter(
#     x=x, y=[20, 10, 10, 60],
#     hoverinfo='x+y',
#     mode='lines',
#     line=dict(width=0.5, color='rgb(111, 231, 219)'),
#     stackgroup='one'
# ))
# fig.add_trace(go.Scatter(
#     x=x, y=[40, 30, 50, 30],
#     hoverinfo='x+y',
#     mode='lines',
#     line=dict(width=0.5, color='rgb(184, 247, 212)'),
#     stackgroup='one'
# ))

# fig.update_layout(yaxis_range=(0, 100))
# fig.show()

In [20]:
x = data_vis.WEEK.to_list()
y1 = data_vis.RR.to_list()
y2 = data_vis.STA.to_list()
# y2 = [34, 21, 45, 27]

layout = go.Layout(
    title="RR vs STA comparison from Week 1 till Week 19",
    xaxis=dict(
        title="WEEK"
    ),
    yaxis=dict(
        title="Percentage"
    ) ) 

fig2 = go.Figure(layout=layout)


fig2.add_trace(go.Scatter(
    x=x, y=y1,
    hoverinfo='x+y',
    mode='lines',
    line=dict(width=0.5, color='rgb(131, 90, 241)'),
    stackgroup='one',
    name = "RR",
     # define stack group,
    
))

fig2.add_trace(go.Scatter
    (x=x, y=y2,
    hoverinfo='x+y', 
    mode='lines',
    line=dict(width=0.5, color='rgb(111, 231, 219)'), 
    stackgroup='two',
    name = "STA",
    ))

fig2.update_layout (yaxis_range=(0, 100),  font = dict(
        family = "Courier New, monospace",
        size = 15,
        color="RebeccaPurple"), legend_title = "Legend Title"
        )
fig2.show()

In [14]:
type(fig2)

plotly.graph_objs._figure.Figure