In [53]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from IPython.display import display, display_html

### Upload CD acccording to the week

In [54]:
df = pd.read_csv('2022_05300605_KTR.csv')

In [55]:
display(df.head())

,date_id,tenant_name,robot_code_name,from_name,Knowledge Type,Knowledge Id,Knowledge Name,Solution Id,Solution Name,Chats,sid_cnt,Session_Resolved_Rate,Switch_to_Live_Agent_Rate,Survey_Response_Rate,Chat_Unsatisfied_Rate
0,20220531,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,FAQ,1000015459,How can I track my order,NaN,NaN,1358,791,0.662025,0.201266,0.0,NaN
1,20220531,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,大招,1000063199,Talk to Agent,NaN,NaN,1290,646,0.665116,0.226357,0.0,NaN
2,20220531,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,小招,1000055995,Greeting,NaN,NaN,1228,632,0.745628,0.165342,0.0,NaN
3,20220530,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,大招,1000063199,Talk to Agent,NaN,NaN,919,311,0.450161,0.504823,0.0,NaN
4,20220530,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,FAQ,1000015459,How can I track my order,NaN,NaN,889,612,0.596405,0.341503,0.0,NaN

In [56]:
#Week22
df_LC = df[df['robot_code_name'] == 'BD-Daz-LC']
df_EN = df[df['robot_code_name'] == 'BD-Daz-EN']

In [57]:
df_LC.shape

(2594, 15)

In [58]:
df_EN.shape

(6009, 15)

In [59]:
#Week22
df_LC = df_LC.reset_index()
df_EN = df_EN.reset_index()

In [60]:
#Week22
df_LC = df_LC.drop('index', axis=1)
df_EN = df_EN.drop('index', axis=1)

#### Total Session Resolved

##### Week 22

##### LC

In [61]:
df_LC['total_session_resolved'] = 0
for i in range(len(df_LC)):
    df_LC['total_session_resolved'][i] = df_LC['sid_cnt'][i]*df_LC['Session_Resolved_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_14776/1685490228.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_LC['total_session_resolved'][i] = df_LC['sid_cnt'][i]*df_LC['Session_Resolved_Rate'][i]
c:\Users\Daraz\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

##### EN

In [62]:
df_EN['total_session_resolved'] = 0
for i in range(len(df_EN)):
    df_EN['total_session_resolved'][i] = df_EN['sid_cnt'][i]*df_EN['Session_Resolved_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_14776/2215925244.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_EN['total_session_resolved'][i] = df_EN['sid_cnt'][i]*df_EN['Session_Resolved_Rate'][i]

#### Total Count for Switch_to_LiveAgent

##### Week 22

##### LC

In [63]:
df_LC['total_switch_agent'] = 0 
for i in range(len(df_LC)):
    df_LC['total_switch_agent'][i] = df_LC['sid_cnt'][i]*df_LC['Switch_to_Live_Agent_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_14776/619910848.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_LC['total_switch_agent'][i] = df_LC['sid_cnt'][i]*df_LC['Switch_to_Live_Agent_Rate'][i]

##### EN

In [64]:
df_EN['total_switch_agent'] = 0
for i in range(len(df_EN)):
    df_EN['total_switch_agent'][i] = df_EN['sid_cnt'][i]*df_EN['Switch_to_Live_Agent_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_14776/2834748607.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_EN['total_switch_agent'][i] = df_EN['sid_cnt'][i]*df_EN['Switch_to_Live_Agent_Rate'][i]

#### Response Count (Chat Level)

##### Week 22

##### LC

In [65]:
df_LC['response_count'] = 0
for i in range(len(df_LC)):
    df_LC['response_count'][i] = df_LC['Chats'][i]*df_LC['Survey_Response_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_14776/1936547415.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_LC['response_count'][i] = df_LC['Chats'][i]*df_LC['Survey_Response_Rate'][i]

##### EN

In [66]:
df_EN['response_count'] = 0
for i in range(len(df_EN)):
    df_EN['response_count'][i] = df_EN['Chats'][i]*df_EN['Survey_Response_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_14776/1695218964.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_EN['response_count'][i] = df_EN['Chats'][i]*df_EN['Survey_Response_Rate'][i]

#### Unsatisfied Count (Chat Level)

##### Week 22

##### LC

In [67]:
df_LC['unsatisfied_count'] = 0
for i in range(len(df_LC)):
    df_LC['unsatisfied_count'][i] = df_LC['response_count'][i]*df_LC['Chat_Unsatisfied_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_14776/2530673422.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_LC['unsatisfied_count'][i] = df_LC['response_count'][i]*df_LC['Chat_Unsatisfied_Rate'][i]

##### EN

In [68]:
df_EN['unsatisfied_count'] = 0
for i in range(len(df_EN)):
    df_EN['unsatisfied_count'][i] = df_EN['response_count'][i]*df_EN['Chat_Unsatisfied_Rate'][i]

C:\Users\Daraz\AppData\Local\Temp/ipykernel_14776/3719463774.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_EN['unsatisfied_count'][i] = df_EN['response_count'][i]*df_EN['Chat_Unsatisfied_Rate'][i]

##### Week 22

##### LC

In [69]:
df_LC[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']].head(2)

,total_session_resolved,total_switch_agent,response_count,unsatisfied_count
0,539.0,15.0,94,25.0
1,487.0,37.0,98,20.0

##### EN

In [70]:
df_EN[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']].head(2)

,total_session_resolved,total_switch_agent,response_count,unsatisfied_count
0,523.0,159.0,0,NaN
1,429.0,146.0,0,NaN

##### Week 22

##### LC

In [71]:
df_LC['unsatisfied_count'] = df_LC['unsatisfied_count'].fillna(0)

##### EN

In [72]:
df_EN['unsatisfied_count'] = df_EN['unsatisfied_count'].fillna(0)

##### Week 22

##### LC

In [73]:
df_LC[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']]

,total_session_resolved,total_switch_agent,response_count,unsatisfied_count
0,539.0,15.0,94,25.0
1,487.0,37.0,98,20.0
2,455.0,22.0,81,15.0
3,462.0,29.0,72,9.0
4,451.0,33.0,79,14.0
...,...,...,...,...
2589,1.0,0.0,0,0.0
2590,1.0,0.0,0,0.0
2591,1.0,0.0,0,0.0
2592,0.0,0.0,0,0.0
2593,1.0,0.0,1,0.0

##### EN

In [74]:
df_EN[['total_session_resolved','total_switch_agent','response_count','unsatisfied_count']]

,total_session_resolved,total_switch_agent,response_count,unsatisfied_count
0,523.0,159.0,0,0.0
1,429.0,146.0,0,0.0
2,471.0,104.0,0,0.0
3,140.0,156.0,0,0.0
4,365.0,209.0,0,0.0
...,...,...,...,...
6004,0.0,1.0,1,1.0
6005,1.0,0.0,0,0.0
6006,1.0,0.0,0,0.0
6007,1.0,0.0,0,0.0
6008,1.0,0.0,0,0.0

### Creating a Pivot Table

##### Week 22

##### LC

In [75]:
df_LC_pivottable = pd.pivot_table(df_LC, values = ['Chats','sid_cnt','total_session_resolved','total_switch_agent','unsatisfied_count'],
                       index= ['Knowledge Name'], aggfunc = np.sum)

##### EN

In [76]:
df_EN_pivottable = pd.pivot_table(df_EN, values = ['Chats','sid_cnt','total_session_resolved','total_switch_agent','unsatisfied_count'],
                       index= ['Knowledge Name'], aggfunc = np.sum)

In [77]:
display(df_LC_pivottable)
display(df_EN_pivottable)

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count
Knowledge Name,,,,,
Ai tar taka ferot chai,1,1,1.0,0.0,0.0
Ata refund pete koto din lagbe,19,16,10.0,4.0,0.0
অনলাইন রিটার্ন ফর্ম কিভাবে পূরণ করবো ?,3,3,2.0,0.0,0.0
অনেক আগে আমি একটা প্রোডাক্ট রিটার্ন করছি তার টাকা এখনো ফেরত পাইনি কবে পাবো,1,1,1.0,0.0,0.0
অর্ডার কনফার্মড হওয়ার পর কি নোটিফাই করবেন?,56,54,44.0,7.0,1.0
...,...,...,...,...,...
১ টাকার গেম কিভাবে খেলবো ?,3,3,2.0,0.0,0.0
১১ ও ক্লক ডিলস কী?,10,10,9.0,0.0,1.0
৩ মাস হয়ে গেলো ব্যাট এখনো রিফান্ড পেলাম না,1,1,1.0,0.0,0.0
৭ দিন হয়ে গেছে এখনো আমার টাকা পাচ্ছি না রিফান্ড কবে পাবো,1,1,1.0,0.0,0.0
৮ দিন হয়ে গেছে এখনো ব্যাংক এ টাকা এড হয় নি কেন,2,1,1.0,0.0,0.0

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count
Knowledge Name,,,,,
Account management related query,57,55,20.0,32.0,0.0
Account management shongkranto query,12,11,4.0,6.0,0.0
Add to Cart offer ti kibhabe pabo,2,1,0.0,1.0,0.0
Alada delivery charge keno neya hoy shob ponner jonno,25,22,20.0,0.0,3.0
All about DarazMall,1,1,0.0,0.0,0.0
...,...,...,...,...,...
order cancel korle ki kono charge kete rakhen,1,1,1.0,0.0,0.0
refund via voucher mane ki,2,2,2.0,0.0,0.0
refund voucher er timeline koto,13,13,10.0,2.0,0.0
return er karonti jodi valid na hoy tokhon ki hobe,8,8,5.0,3.0,1.0
when will i get my refund,2,1,1.0,0.0,0.0

##### Week 16

In [78]:
df_LC_pivottable = df_LC_pivottable.sort_values('sid_cnt', ascending = False) # For LC
df_EN_pivottable = df_EN_pivottable.sort_values('sid_cnt', ascending = False) # For EN

In [79]:
display(df_LC_pivottable)
display(df_EN_pivottable)

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count
Knowledge Name,,,,,
আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?,12578,9138,7516.0,861.0,383.774207
অর্ডার কিভাবে ক্যান্সেল করব?,4750,3022,2335.0,362.0,164.199099
আমি কি আইটেমটি রিটার্ন করতে পারবো,4166,2921,2287.0,337.0,48.980556
আমার সাহায্য লাগবে,3255,2869,1927.0,750.0,0.000000
অর্ডার প্লেস করতে পারছি না কেন?,2700,2533,2209.0,144.0,67.946970
...,...,...,...,...,...
কিভাবে ফ্রি তে কন্ট্যাক্ট করতে পারবো?,1,1,1.0,0.0,0.000000
কিভাবে দারাজ একাউন্ট থেকে লগআউট করবো?,1,1,1.0,0.0,0.000000
কিভাবে আমরা ভাউচার্সের ডিটেলস দেখতে পাবো ?,1,1,1.0,0.0,0.000000
কালেক্টেবল ভাউচার বলতে কি বুঝায়?,1,1,1.0,0.0,0.000000
৮ দিন হয়ে গেছে এখনো ব্যাংক এ টাকা এড হয় নি কেন,2,1,1.0,0.0,0.000000

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count
Knowledge Name,,,,,
How can I track my order,13957,11071,8225.0,2183.0,0.000000
Greeting,14929,9771,7267.0,1921.0,0.000000
How long does it take to receive my product,13163,9754,7494.0,1539.0,241.757185
How to cancel my order,7840,5363,4332.0,596.0,0.000000
Can I return an Item,6800,4608,3450.0,797.0,64.702381
...,...,...,...,...,...
Google Play cards Kinte chai,1,1,1.0,0.0,0.000000
From when is the warranty for my product applicable,1,1,0.0,1.0,1.000000
What is Buy More Save More voucher,1,1,1.0,0.0,0.000000
EMI er category restrictions ki,1,1,1.0,0.0,0.000000
when will i get my refund,2,1,1.0,0.0,0.000000

#### RR Calculation

##### Week 22

##### LC

In [80]:
df_LC_pivottable['RR'] = 0
for i in range(len(df_LC_pivottable)):
    df_LC_pivottable['RR'][i] = (df_LC_pivottable['total_session_resolved'][i]/df_LC_pivottable['sid_cnt'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_14776/1874746768.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_LC_pivottable['RR'][i] = (df_LC_pivottable['total_session_resolved'][i]/df_LC_pivottable['sid_cnt'][i])*100

##### EN

In [81]:
df_EN_pivottable['RR'] = 0
for i in range(len(df_EN_pivottable)):
    df_EN_pivottable['RR'][i] = (df_EN_pivottable['total_session_resolved'][i]/df_EN_pivottable['sid_cnt'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_14776/1245825383.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_EN_pivottable['RR'][i] = (df_EN_pivottable['total_session_resolved'][i]/df_EN_pivottable['sid_cnt'][i])*100

#### STA Calculation

##### Week 22

##### LC

In [82]:
df_LC_pivottable['STA'] = 0
for i in range(len(df_LC_pivottable)):
    df_LC_pivottable['STA'][i] = (df_LC_pivottable['total_switch_agent'][i]/df_LC_pivottable['sid_cnt'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_14776/970885681.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_LC_pivottable['STA'][i] = (df_LC_pivottable['total_switch_agent'][i]/df_LC_pivottable['sid_cnt'][i])*100

##### EN

In [83]:
df_EN_pivottable['STA'] = 0
for i in range(len(df_EN_pivottable)):
    df_EN_pivottable['STA'][i] = (df_EN_pivottable['total_switch_agent'][i]/df_EN_pivottable['sid_cnt'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_14776/3172783108.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_EN_pivottable['STA'][i] = (df_EN_pivottable['total_switch_agent'][i]/df_EN_pivottable['sid_cnt'][i])*100

#### UR calculation

##### Week 22

##### LC

In [84]:
df_LC_pivottable['UR'] = 0
for i in range(len(df_LC_pivottable)):
    df_LC_pivottable['UR'][i] = (df_LC_pivottable['unsatisfied_count'][i]/df_LC_pivottable['Chats'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_14776/4293662625.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_LC_pivottable['UR'][i] = (df_LC_pivottable['unsatisfied_count'][i]/df_LC_pivottable['Chats'][i])*100

##### EN

In [85]:
df_EN_pivottable['UR'] = 0
for i in range(len(df_EN_pivottable)):
    df_EN_pivottable['UR'][i] = (df_EN_pivottable['unsatisfied_count'][i]/df_EN_pivottable['Chats'][i])*100

C:\Users\Daraz\AppData\Local\Temp/ipykernel_14776/555822753.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_EN_pivottable['UR'][i] = (df_EN_pivottable['unsatisfied_count'][i]/df_EN_pivottable['Chats'][i])*100

In [86]:
display(df_LC_pivottable.head())
display(df_EN_pivottable.head())

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count,RR,STA,UR
Knowledge Name,,,,,,,,
আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?,12578,9138,7516.0,861.0,383.774207,82,9,3
অর্ডার কিভাবে ক্যান্সেল করব?,4750,3022,2335.0,362.0,164.199099,77,11,3
আমি কি আইটেমটি রিটার্ন করতে পারবো,4166,2921,2287.0,337.0,48.980556,78,11,1
আমার সাহায্য লাগবে,3255,2869,1927.0,750.0,0.000000,67,26,0
অর্ডার প্লেস করতে পারছি না কেন?,2700,2533,2209.0,144.0,67.946970,87,5,2

,Chats,sid_cnt,total_session_resolved,total_switch_agent,unsatisfied_count,RR,STA,UR
Knowledge Name,,,,,,,,
How can I track my order,13957,11071,8225.0,2183.0,0.000000,74,19,0
Greeting,14929,9771,7267.0,1921.0,0.000000,74,19,0
How long does it take to receive my product,13163,9754,7494.0,1539.0,241.757185,76,15,1
How to cancel my order,7840,5363,4332.0,596.0,0.000000,80,11,0
Can I return an Item,6800,4608,3450.0,797.0,64.702381,74,17,0

#### RR, STA, UR numbers

##### LC

##### Week 22

In [87]:
df_LC_pivottable_top = df_LC_pivottable[['sid_cnt','RR','STA','UR']].sort_values('sid_cnt', ascending = False).head(20)
df_EN_pivottable_top = df_EN_pivottable[['sid_cnt','RR','STA','UR']].sort_values('sid_cnt', ascending = False).head(20)

In [88]:

df_EN_pivottable_top.head(20)

                                              sid_cnt  RR  STA  UR
Knowledge Name
How can I track my order                        11071  74   19   0
Greeting                                         9771  74   19   0
How long does it take to receive my product      9754  76   15   1
How to cancel my order                           5363  80   11   0
Can I return an Item                             4608  74   17   0
Talk to Agent                                    3906  57   35   0
My order is delayed. What should I do            3106  71   21   4
How long is the refund process                   3042  68   22   0
Amar ponno delivery hote kotodin lagbe           2544  85    9   1
Delivery delay issue                             2378  64   26   0
Is there any bKash cashback                      2255  83   11   3
Why do I see failed delivery attempt             2099  75   16   5
Order-postmatch                                  1937  79   12   1
bKash e kono cashback ache ki                    1148  88    7   1
Garbage queries                                  1029  66   24   0
Collection point address please                  1028  72   17   1
How can I avail mystery box                       769  80   16   0
Overseas items delivery delay                     765  68   21   0
What payment partner discounts are available      741  79   13   3
Amar order ashte deri hocche keno                 717  75   16   1

In [89]:
df_LC_pivottable_top.head(20)

                                        sid_cnt  RR  STA  UR
Knowledge Name
আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?     9138  82    9   3
অর্ডার কিভাবে ক্যান্সেল করব?               3022  77   11   3
আমি কি আইটেমটি রিটার্ন করতে পারবো          2921  78   11   1
আমার সাহায্য লাগবে                         2869  67   26   0
অর্ডার প্লেস করতে পারছি না কেন?            2533  87    5   2
কত দ্রুত আমি আমার অর্ডার পেতে পারি?        1221  87    6   1
রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?        1165  72   15   0
আমার অর্ডার আসতে দেরি হচ্ছে কেন ?          1078  78   12   2
আরো সাহায্য প্রয়োজন (Need more help)       973  51   42   0
অর্ডার সক্রান্ত প্রশ্ন                      786  68   22   0
ডেলিভারি ডিলে                               637  67   20   0
ভিন্ন বিষয় সংক্রান্ত প্রশ্ন                 591  50   40   0
আমার অর্ডারটি কবে ডেলিভারি পেতে পারি?       553  79   10   5
শিপিং এবং ডেলিভেরি সক্রান্ত প্রশ্ন          546  64   29   0
আমার পণ্য ডেলিভারি হতে কতদিন লাগবে ?        543  82    8   2
কালেকশন পয়েন্টের ওটিপি কিভাবে পাবো ?        372  77   11   3
বিকাশে কোনো ক্যাশব্যাক আছে কি ?             321  79   10   7
আর্জেন্ট ডেলিভারি দেয়া যাবে কি ?            319  82    5   1
কালেকশন পয়েন্ট কোন সময়ে খোলা থাকবে?         314  80    9   1
রিটার্ন সংক্রান্ত প্রশ্ন                    297  70   18   0

In [90]:
df_LC_pivottable_top.to_clipboard()

In [91]:
df_EN_pivottable_top.to_clipboard()

### Low KT Evaluation

In [92]:
df_kt = pd.read_csv('2022_05300605_CD.csv')

In [93]:
df_kt.shape

(4628, 42)

In [94]:
df_kt.head(2)

,Create Date,tenant_name,robot_code,robot_name,from_id,from_name,Session_id,Intention,user_id,Seller id (X-space),...,Feedback Card Response,is_chat_recommend,is_chat_no answer,is_chat_pre/post match,live agent_session_id,Last Query Before Live Agent Session,Live Agent User Query,Live Agent Response,Feedback Type,Unsatisfied Reason
0,2022-06-02 00:00:00,Alime-DRZ-CC-BD,03thkMNkQ3,BD-Daz-LC,zpojXywwrn,BD-Daz-LC-DD-App,80bf69a685804b3fad40ecfd11024190,route_daraz_others,2101100081950786,700050717706,...,Unsatisfied,N,N,N,NaN,NaN,NaN,NaN,UNSATISFIED,NaN
1,2022-06-03 00:00:00,Alime-DRZ-CC-BD,l2Cgc9psxK,BD-Daz-EN,V3EasrtOgs,BD-Daz-EN-HC-App,691565354c0e4ccaaa4afb7a6d8c3676,route_daraz_others,2101100082615294,700045623947,...,Unsatisfied,N,N,N,NaN,NaN,NaN,NaN,UNSATISFIED,Useless and wrong answer

In [95]:
df_LCKT = df_kt[df_kt['robot_name'] == 'BD-Daz-LC']
df_ENKT = df_kt[df_kt['robot_name'] == 'BD-Daz-EN']

In [96]:
df_LCKT = df_LCKT.reset_index()
df_ENKT = df_ENKT.reset_index()

In [97]:
df_ENKT.shape

(3132, 43)

In [98]:
df_LCKT.shape

(1496, 43)

In [99]:
df_ENKT.columns

Index(['index', 'Create Date', 'tenant_name', 'robot_code', 'robot_name',
       'from_id', 'from_name', 'Session_id', 'Intention', 'user_id',
       'Seller id (X-space)', 'user_nick', 'create_time', 'chat_uuid',
       'Enter Type', 'query', 'Question Type', 'sopname', 'answer_type',
       'SOP_Solution_id', 'SOP_Solution_Name', 'Standard Knowledge Title',
       'Knowledge_id', 'knowledge_cate_1_name', 'knowledge_cate_2_name',
       'knowledge_cate_3_name', 'is_session_unsatisfied',
       'is_session_last_no answer', 'call_agent_by_click_shortcut',
       'is_session_last_recommend no click', 'call_agent_by_intention',
       'is_session_direct_liveagent', 'Contacted live agent on same day',
       'Feedback Card Response', 'is_chat_recommend', 'is_chat_no answer',
       'is_chat_pre/post match', 'live agent_session_id',
       'Last Query Before Live Agent Session', 'Live Agent User Query',
       'Live Agent Response', 'Feedback Type', 'Unsatisfied Reason'],
      dtype='object')

In [100]:
df_HLRP = df_ENKT[df_ENKT['Standard Knowledge Title'] == 'How long is the refund process']
df_LCRP = df_LCKT[df_LCKT['Standard Knowledge Title'] == 'রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?']

In [101]:
df_HLRP.shape

(21, 43)

In [102]:
df_LCRP.shape

(7, 43)

In [103]:
# EN_RD = df_ENKT[df_ENKT['Standard Knowledge Title'] == 'My refund is delayed. What should I do']

##### English

In [104]:
df_HLRP[['Standard Knowledge Title','Unsatisfied Reason']]

,Standard Knowledge Title,Unsatisfied Reason
30,How long is the refund process,NaN
78,How long is the refund process,NaN
196,How long is the refund process,NaN
394,How long is the refund process,Too many words to read
427,How long is the refund process,Useless and wrong answer
490,How long is the refund process,NaN
609,How long is the refund process,Useless and wrong answer
831,How long is the refund process,Useless and wrong answer
975,How long is the refund process,NaN
1260,How long is the refund process,NaN
1436,How long is the refund process,Too many words to read
1442,How long is the refund process,Useless and wrong answer
1497,How long is the refund process,Too many words to read
1522,How long is the refund process,The descriptions are complicated and not compr...
2039,How long is the refund process,Too many words to read
2057,How long is the refund process,Useless and wrong answer
2199,How long is the refund process,The descriptions are complicated and not compr...
2588,How long is the refund process,Too many words to read
2643,How long is the refund process,Useless and wrong answer
3079,How long is the refund process,The descriptions are complicated and not compr...
3111,How long is the refund process,Useless and wrong answer

In [105]:
df_HLRP[['Standard Knowledge Title','Unsatisfied Reason']].value_counts()

Standard Knowledge Title        Unsatisfied Reason
How long is the refund process  Useless and wrong answer                                   7
                                Too many words to read                                     5
                                The descriptions are complicated and not comprehensible    3
dtype: int64

In [106]:
df_HLRP = df_HLRP[df_HLRP['Live Agent User Query'].notna()] #How long is the refund process queries
df_Q = df_HLRP['Live Agent User Query']

In [114]:
df_Q.to_clipboard()

Customers are switching to agents to know the exact date for refund process/when their money will be refunded. They also wanted to know the return process in order to get the refund. There were also complains of return request being canceled.

#### Bangla

In [108]:
df_LCRP[['Standard Knowledge Title','Unsatisfied Reason']]

                Standard Knowledge Title               Unsatisfied Reason
196  রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?              অকেজো এবং ভুল উত্তর
432  রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?          অনেক শব্দ আছে পড়ার জন্য
585  রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?  বর্ণনাগুলি জটিল এবং বোধগম্য নয়
589  রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?  বর্ণনাগুলি জটিল এবং বোধগম্য নয়
596  রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?              অকেজো এবং ভুল উত্তর
886  রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?              অকেজো এবং ভুল উত্তর
918  রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?          অনেক শব্দ আছে পড়ার জন্য

In [109]:
df_LCRP[['Standard Knowledge Title','Unsatisfied Reason']].value_counts()

Standard Knowledge Title             Unsatisfied Reason
রিফান্ড প্রসেস শেষ হতে কতদিন লাগবে?  অকেজো এবং ভুল উত্তর                3
                                     অনেক শব্দ আছে পড়ার জন্য            2
                                     বর্ণনাগুলি জটিল এবং বোধগম্য নয়    2
dtype: int64

In [110]:
df_LCRP = df_LCRP[df_LCRP['Live Agent User Query'].notna()]
df_LCRP_Q = df_LCRP['Live Agent User Query']

In [113]:
df_LCRP_Q.to_clipboard()

After going through the chat details, we could not find substantial reasons for pain points for set KT (specifically KTs with low RR). There were insignificant chat details with accordance to the step mentioned. Not everyone switched to a live agent after rating the Chatbot.

As we are using refund SOP, in order to change the content or the graphics we need to consult the product team.