In [1]:
import pandas as pd

In [2]:
city=["Dhaka","Chattagram","Barishal","Rangpur"]

In [3]:
Ser1=pd.Series(city)

In [4]:
Ser1

0         Dhaka
1    Chattagram
2      Barishal
3       Rangpur
dtype: object

In [5]:
ser2=pd.Series([1,3,4,5,6])

In [6]:
ser2

0    1
1    3
2    4
3    5
4    6
dtype: int64

In [7]:
lab=["A","B","C","D"]

In [8]:
ser3=pd.Series(data=city,index=lab)

In [9]:
ser3

A         Dhaka
B    Chattagram
C      Barishal
D       Rangpur
dtype: object

In [10]:
ser4=pd.Series(city,lab)

In [12]:
ser4

A         Dhaka
B    Chattagram
C      Barishal
D       Rangpur
dtype: object

In [14]:
city2={"A":"Dhaka","B":"Rangpur"}

In [15]:
ser5=pd.Series(city2)

In [16]:
ser5

A      Dhaka
B    Rangpur
dtype: object

In [17]:
ser4.values

array(['Dhaka', 'Chattagram', 'Barishal', 'Rangpur'], dtype=object)

In [18]:
ser4.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
ser4["A"]

'Dhaka'

In [22]:
ser4[["A","B"]]

A         Dhaka
B    Chattagram
dtype: object

In [24]:
ser2<5

0     True
1     True
2     True
3    False
4    False
dtype: bool

In [26]:
ser2[ser2<5]

0    1
1    3
2    4
dtype: int64

In [27]:
ser2*10

0    10
1    30
2    40
3    50
4    60
dtype: int64

In [28]:
ser2/3

0    0.333333
1    1.000000
2    1.333333
3    1.666667
4    2.000000
dtype: float64

In [29]:
ser2+5

0     6
1     8
2     9
3    10
4    11
dtype: int64

In [30]:
ser4+ser5

A           DhakaDhaka
B    ChattagramRangpur
C                  NaN
D                  NaN
dtype: object

In [31]:
ser4

A         Dhaka
B    Chattagram
C      Barishal
D       Rangpur
dtype: object

In [32]:
ser5

A      Dhaka
B    Rangpur
dtype: object

In [33]:
ser6=ser4+ser5

In [34]:
ser6

A           DhakaDhaka
B    ChattagramRangpur
C                  NaN
D                  NaN
dtype: object

In [37]:
ser6.isnull()

A    False
B    False
C     True
D     True
dtype: bool