In [4]:
for i in range(1, 101):
    print('Fuzz'* bool(i%3==0) + 'Buzz' * bool(i%5==0) or int(i))

1
2
Fuzz
4
Buzz
Fuzz
7
8
Fuzz
Buzz
11
Fuzz
13
14
FuzzBuzz
16
17
Fuzz
19
Buzz
Fuzz
22
23
Fuzz
Buzz
26
Fuzz
28
29
FuzzBuzz
31
32
Fuzz
34
Buzz
Fuzz
37
38
Fuzz
Buzz
41
Fuzz
43
44
FuzzBuzz
46
47
Fuzz
49
Buzz
Fuzz
52
53
Fuzz
Buzz
56
Fuzz
58
59
FuzzBuzz
61
62
Fuzz
64
Buzz
Fuzz
67
68
Fuzz
Buzz
71
Fuzz
73
74
FuzzBuzz
76
77
Fuzz
79
Buzz
Fuzz
82
83
Fuzz
Buzz
86
Fuzz
88
89
FuzzBuzz
91
92
Fuzz
94
Buzz
Fuzz
97
98
Fuzz
Buzz

In [14]:
m = 24
l = 2

interval = int(m/l)
for i in range(1, 24):
    print(i)
    if i == 24:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [11]:
class Node:
    def __init__(self, data, next=None):
        self.data = data
        self.next = next
        
print(Node(3))

<__main__.Node object at 0x7fdc45f6afd0>

In [12]:
# A single node of a singly linked list
class Node:
  # constructor
  def __init__(self, data = None, next=None): 
    self.data = data
    self.next = next

# A Linked List class with a single head node
class LinkedList:
  def __init__(self):  
    self.head = None
  
  # insertion method for the linked list
  def insert(self, data):
    newNode = Node(data)
    if(self.head):
      current = self.head
      while(current.next):
        current = current.next
      current.next = newNode
    else:
      self.head = newNode
  
  # print method for the linked list
  def printLL(self):
    current = self.head
    while(current):
      print(current.data)
      current = current.next

# Singly Linked List with insertion and print methods
LL = LinkedList()
LL.insert(3)
LL.insert(4)
LL.insert(5)
LL.printLL()

3
4
5

In [19]:
prime = [True for i in range(n+1)]
p  = 2
while(p*p <= n):
    if prime[p] == True:
        for i in range(p * p, n+1, p):
            prime[i] = False
    p+=1

for p in range(2, n+1):
    if prime[p]:
        print (p)

2
3
5
7
11
13
17
19

In [20]:
n

20

In [7]:
i = 2
p = 20

list_ = [1 for n in range(p+1)]

In [17]:
while(i * i <= p):
    for n in range(i*i, p+1, i):
        list_[n] = 0
    i+=1

In [18]:
for s in range(2, n+1):
    if list_[s]:
        print(s)

2
3
5
7
11
13
17
19

In [8]:
p = 20
list_ = [1 for i in range(p+1)]

n = 2
while(n * n <= p):
    for i in range(n * n, p+1, n):
        list_[i] = 0
    n+=1

In [9]:
for i in range(2, p+1):
    if list_[i]:
        print(i)

2
3
5
7
11
13
17
19

In [64]:
while(n <= p):
    print(n*list_[n])
    n+=1

In [ ]:
i = 2
n = 24

list_ = [1 for i in range(n+1)]

In [ ]:
while(i*i <= n):
    for s in range(i*i, n+1, i):
        list_[s] = 0
    i+=1

In [56]:
li_st = []
for m in range(1, n+1):
    li_st.append(m * list_[m])

In [60]:
q = 0
r = q + 12
a = li_st[q:r]
b = li_st[r:]

In [64]:
val = []
for i, j in zip(a,b):
    a = (i, j)
    val.append(a)

In [10]:
val

[(1, 13),
 (2, 0),
 (3, 0),
 (0, 0),
 (5, 17),
 (0, 0),
 (7, 19),
 (0, 0),
 (0, 0),
 (0, 0),
 (11, 23),
 (0, 0)]

In [48]:
prime_value = []

for i in range(len(val)):
    prime_list = bool(val[i][0] * val[i][1]) * val[i]
    prime_value.append(prime_list)

In [49]:
prime_value

[(1, 13), (), (), (), (5, 17), (), (7, 19), (), (), (), (11, 23), ()]

In [50]:
prime_value = [prime_val for prime_val in prime_value if prime_val]

In [51]:
prime_value

[(1, 13), (5, 17), (7, 19), (11, 23)]

In [52]:
len(prime_value)

4

In [1]:
slice_obj = slice(1,6,2)

In [2]:
string = 'Python'
string[slice_obj]

'yhn'

In [3]:
hours = 36
interval = 3

if hours%interval == 0:
    list_hours = [1 for i in range(hours+1)]
else:
    print('Number not divisible')

prime1 = 2

while(prime1 * prime1 <= hours):
    for i in range(prime1 * prime1, hours + 1, prime1):
        if list_hours[i] == 0:
            continue
        elif list_hours[i] == 1:
            list_hours[i] = 0
    prime1+=1

list_prime_hours = []

for i in range(1, hours+1):
    list_prime_hours.append(i * list_hours[i])

In [4]:
list_prime_hours

[1,
 2,
 3,
 0,
 5,
 0,
 7,
 0,
 0,
 0,
 11,
 0,
 13,
 0,
 0,
 0,
 17,
 0,
 19,
 0,
 0,
 0,
 23,
 0,
 0,
 0,
 0,
 0,
 29,
 0,
 31,
 0,
 0,
 0,
 0,
 0]

In [5]:
list_prime_hours[::3]

[1, 0, 7, 0, 13, 0, 19, 0, 0, 0, 31, 0]

In [8]:
hour_parts = 12
list_prime_hours[0:12]

[1, 2, 3, 0, 5, 0, 7, 0, 0, 0, 11, 0]

In [10]:
list_prime_hours[12:24]

[13, 0, 0, 0, 17, 0, 19, 0, 0, 0, 23, 0]

In [13]:
list_prime_hours[24:36]

[0, 0, 0, 0, 29, 0, 31, 0, 0, 0, 0, 0]

In [17]:
for i in range(0, 36, 12):
    print(i)

0
12
24

In [18]:
list_ = []
list1 = [2, 3, 4]
list2 = [5, 6, 7]
list_.append(list1)
list_.append(list2)

In [19]:
list_

[[2, 3, 4], [5, 6, 7]]

In [37]:
hours = 36
interval = 3

if hours%interval == 0:
    list_hours = [1 for i in range(hours+1)]
else:
    print('Number not divisible')

prime1 = 2

while(prime1 * prime1 <= hours):
    for i in range(prime1 * prime1, hours + 1, prime1):
        if list_hours[i] == 0:
            continue
        elif list_hours[i] == 1:
            list_hours[i] = 0
    prime1+=1

list_prime_hours = []

for i in range(1, hours+1):
    list_prime_hours.append(i * list_hours[i])

hour_parts = int(hours/interval)

segmented_days = []
for i in range(0, hours, hour_parts):
    segmented_days.append(list_prime_hours[i:i+hour_parts])

In [32]:
segmented_days[0:12]

[[1, 2, 3, 0, 5, 0, 7, 0, 0, 0, 11, 0],
 [2, 3, 0, 5, 0, 7, 0, 0, 0, 11, 0, 13],
 [3, 0, 5, 0, 7, 0, 0, 0, 11, 0, 13, 0]]

In [41]:
list_prime_hours

[1,
 2,
 3,
 0,
 5,
 0,
 7,
 0,
 0,
 0,
 11,
 0,
 13,
 0,
 0,
 0,
 17,
 0,
 19,
 0,
 0,
 0,
 23,
 0,
 0,
 0,
 0,
 0,
 29,
 0,
 31,
 0,
 0,
 0,
 0,
 0]

In [35]:
list_prime_hours[12:24]

[13, 0, 0, 0, 17, 0, 19, 0, 0, 0, 23, 0]

In [29]:
segmented_days[0] + segmented_days[1]

[1, 2, 3, 0, 5, 0, 7, 0, 0, 0, 11, 0, 2, 3, 0, 5, 0, 7, 0, 0, 0, 11, 0, 13]

In [1]:
S = "ADOBECODEBANC"
T = "ABC"

In [2]:
S-T

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [3]:
2**3

8

In [18]:
n = 17
x = (n-1)%6

In [19]:
x

4

In [11]:
type(x)

int

In [20]:
def PrimeTime(num):
    n = 23

    prime1 = (n-1)%6
    prime2 = (n+1)%6

    if prime1 * prime2 == 0:
        return 'True'
    else:
        return 'False'

In [23]:
PrimeTime(18)

'True'

In [26]:
def PrimeTime(num):

    prime1 = (num-1)%6
    prime2 = (num+1)%6

    if prime1 * prime2 == 0:
        return 'True'
    else:
        return 'False'

print(PrimeTime(12))

False

In [28]:
PrimeTime(31)

'True'

In [1]:
string1 = 'this is a test string'
pattern ='tist'

len(pattern)

4

In [2]:
sli_ce1 = slice(len(pattern))

In [3]:
sli_ce1

slice(None, 4, None)

In [4]:
for i in string1[sli_ce1]:
    print(i)

t
h
i
s

In [6]:
string1.rstrip()

'this is a test string'

In [8]:
string1 = string1.replace(" ", "")

In [9]:
string1

'thisisateststring'

In [12]:
string1[sli_ce1+1]

TypeError: unsupported operand type(s) for +: 'slice' and 'int'

In [17]:
string1[2:6]

'isis'

In [30]:
sting1 = 'This is a test string'
pattern = 'tstr'
i = len(pattern)


if ' ' in pattern:
    print(pattern)

In [31]:
string1 = string1.replace(" ", '')

In [32]:
string1

'thisisateststring'

In [33]:
for j in range()
string1[j:j+i]

'isat'

In [34]:
len(string1)

17

In [35]:
i

4

In [36]:
17-4

13

In [42]:
for j in range(len(string1) - i):
    string_samples = string1[j:j+i]
    if string_samples != pattern:
        continue
    else:
        print('Match found')

Match found

In [43]:
i = [1,2,2,3,4,4,5]

In [46]:
i.count(2)

2

NameError: name 'count' is not defined