### Weekly Report Python Notebook

#### Run all cells by pressing "Run All"

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from IPython.display import display, display_html

### Input file name:

```python
WR_KT_df = pd.read_csv("<file_name>", thousands=',')  
```
#### Replace <file_name> with the name of the csv file that is going to be analyzed

#### Keep the file in the same directory as the WeeklyReport.ipynb file

In [8]:
# A_KT_df = pd.read_csv(r"C:\Users\Daraz\Documents\ddda\DiagnosticAnalysisDataset\2022_09140914_DA.csv", thousands=',')
a_chat_df = pd.read_csv(r"C:\Users\Daraz\Documents\ddda\ChatDetailsDataset\2022_09270927_CD.csv", thousands=',')


# A_KT_df = pd.read_csv(r"C:\Users\Daraz\Documents\ddda\DiagnosticAnalysisDataset\2022_01010731_DA_1000017220.csv", thousands=',')


# WR_KT_overview = pd.read_csv('WeeklyReport19.csv')

In [9]:
a_chat_df.columns

Index(['Create Date', 'tenant_name', 'robot_code', 'robot_name', 'from_id',
       'from_name', 'Session_id', 'Intention', 'user_id',
       'Seller id (X-space)', 'user_nick', 'create_time', 'chat_uuid',
       'Enter Type', 'query', 'Question Type', 'sopname', 'answer_type',
       'SOP_Solution_id', 'SOP_Solution_Name', 'Standard Knowledge Title',
       'Knowledge_id', 'knowledge_cate_1_name', 'knowledge_cate_2_name',
       'knowledge_cate_3_name', 'is_session_unsatisfied',
       'is_session_last_no answer', 'call_agent_by_click_shortcut',
       'is_session_last_recommend no click', 'call_agent_by_intention',
       'is_session_direct_liveagent', 'Contacted live agent on same day',
       'Feedback Card Response', 'is_chat_recommend', 'is_chat_no answer',
       'is_chat_pre/post match', 'live agent_session_id',
       'Last Query Before Live Agent Session', 'Live Agent User Query',
       'Live Agent Response', 'Feedback Type', 'Unsatisfied Reason'],
      dtype='object')

In [11]:
a_chat_df['Intention'].value_counts()

route_daraz_liveagent    1307
Name: Intention, dtype: int64

In [ ]:
a_chat_df['query'].to_clipboard()

In [ ]:
a_chat_df['']

In [4]:
a_chat_df['query'].to_clipboard()

In [5]:
len(a_chat_df['live agent_session_id'].unique())

1025

In [6]:
len(a_chat_df['Session_id'].unique())

1197

In [99]:
a_chat_df[a_chat_df['live agent_session_id'].()].count()

TypeError: 'bool' object is not callable

In [98]:
a_chat_df[a_chat_df['is_session_direct_liveagent'] == 'Y']['query'].count()

757

In [13]:
A_KT_df['Knowledge Id'].value_counts()

1000080548    31
1000015459    30
1000055569    21
1000080552    17
1000069823    17
              ..
1000070045     1
1000079593     1
1000017217     1
1000070037     1
1000017312     1
Name: Knowledge Id, Length: 564, dtype: int64

In [12]:
A_KT_df[A_KT_df['Session_Resolved_Rate'] == 0.50]['Knowledge Id'].val

,date_id,tenant_name,robot_code_name,from_name,Knowledge Type,Knowledge Id,Knowledge Name,Solution Id,Solution Name,Chats,sid_cnt,Session_Resolved_Rate,Switch_to_Live_Agent_Rate,Survey_Response_Rate,Chat_Unsatisfied_Rate
166,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-Web,FAQ,1000080548,Prematch - Track Order,150113.0,Item don't delivered(with estimated date),37,14,0.5,0.500000,0.027027,1.0
188,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,大招,1000068197,Shipping ebong delivery shongkranto query,NaN,NaN,32,32,0.5,0.468750,0.000000,NaN
218,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-HC-App,大招,1000080211,পেমেন্ট সক্রান্ত প্রশ্ন,NaN,NaN,26,25,0.5,0.500000,0.000000,NaN
243,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-Web,大招,1000068180,Payment related query,NaN,NaN,22,18,0.5,0.444444,0.000000,NaN
249,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-HC-App,大招,1000080549,ভাউচার এবং প্রমোশন সক্রান্ত প্রশ্ন,NaN,NaN,20,16,0.5,0.312500,0.000000,NaN
301,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-HC-App,大招,1000070152,গ্রিটিং প্রি-ম্যাচ,NaN,NaN,15,13,0.5,0.333333,0.000000,NaN
309,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-DD-App,FAQ,1000015529,How to collect my product from the collection ...,NaN,NaN,14,14,0.5,0.500000,0.142857,1.0
369,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-Web,FAQ,1000015107,How do I pay on Daraz,NaN,NaN,10,10,0.5,0.300000,0.200000,0.5
419,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-DD-App,大招,1000075158,Chatbot guide,NaN,NaN,8,8,0.5,0.500000,0.000000,NaN
443,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,FAQ,1000015459,How can I track my order,150313.0,Item is delivered,7,4,0.5,0.250000,0.142857,1.0
462,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-HC-Web,FAQ,1000069218,অর্ডার কিভাবে বাতিল করব?,NaN,NaN,6,4,0.5,0.500000,0.333333,0.0
484,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,FAQ,1000017678,Urgent delivery deya jabe ki,NaN,NaN,6,6,0.5,0.333333,0.166667,1.0
487,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-HC-App,FAQ,1000069823,আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?,193838.0,Predicted order delivery date - Max promised t...,6,4,0.5,0.500000,0.333333,1.0
490,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,FAQ,1000017223,Why can't I cancel my order?,183633.0,Order is Ready to Ship,6,2,0.5,0.000000,0.000000,NaN
520,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,FAQ,1000015128,Daraz e bkash er maddhome payment korar upay ki,NaN,NaN,5,4,0.5,0.250000,0.200000,1.0
522,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,FAQ,1000036026,Can I return an Item,NaN,Return by Return Cutoff Date,5,2,0.5,0.000000,0.000000,NaN
527,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-Web,FAQ,1000016912,When will my item be picked up after return in...,NaN,NaN,5,4,0.5,0.500000,0.000000,NaN
542,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-HC-App,FAQ,1000055569,Order-postmatch,182013.0,Cancelled without Refund,5,2,0.5,0.500000,0.000000,NaN
559,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-LC,BD-Daz-LC-HC-App,FAQ,1000069823,আমার অর্ডার কিভাবে ট্র্যাক করতে পারবো?,193642.0,Out for Delivery (Local),4,2,0.5,0.500000,0.250000,0.0
561,2022-09-14 00:00:00,Alime-DRZ-CC-BD,BD-Daz-EN,BD-Daz-EN-DD-App,FAQ,1000015451,How long does it take to receive my product,181142.0,Pending Re-delivery,4,4,0.5,0.250000,0.250000,1.0

In [14]:
a_chat_df.columns

Index(['Create Date', 'tenant_name', 'robot_code', 'robot_name', 'from_id',
       'from_name', 'Session_id', 'Intention', 'user_id',
       'Seller id (X-space)', 'user_nick', 'create_time', 'chat_uuid',
       'Enter Type', 'query', 'Question Type', 'sopname', 'answer_type',
       'SOP_Solution_id', 'SOP_Solution_Name', 'Standard Knowledge Title',
       'Knowledge_id', 'knowledge_cate_1_name', 'knowledge_cate_2_name',
       'knowledge_cate_3_name', 'is_session_unsatisfied',
       'is_session_last_no answer', 'call_agent_by_click_shortcut',
       'is_session_last_recommend no click', 'call_agent_by_intention',
       'is_session_direct_liveagent', 'Contacted live agent on same day',
       'Feedback Card Response', 'is_chat_recommend', 'is_chat_no answer',
       'is_chat_pre/post match', 'live agent_session_id',
       'Last Query Before Live Agent Session', 'Live Agent User Query',
       'Live Agent Response', 'Feedback Type', 'Unsatisfied Reason'],
      dtype='object')

In [42]:
a_chat_df[a_chat_df['Standard Knowledge Title'] == 'Refund method kibhabe change korbo'].iloc[:,23:42]

,knowledge_cate_2_name,knowledge_cate_3_name,is_session_unsatisfied,is_session_last_no answer,call_agent_by_click_shortcut,is_session_last_recommend no click,call_agent_by_intention,is_session_direct_liveagent,Contacted live agent on same day,Feedback Card Response,is_chat_recommend,is_chat_no answer,is_chat_pre/post match,live agent_session_id,Last Query Before Live Agent Session,Live Agent User Query,Live Agent Response,Feedback Type,Unsatisfied Reason
12758,Bangla in English>>Returns & Refunds,Bangla in English>>Returns & Refunds>>Refunds,Y,N,N,N,N,N,N,NaN,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN
25353,Bangla in English>>Returns & Refunds,Bangla in English>>Returns & Refunds>>Refunds,N,N,N,N,N,N,N,NaN,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
# kt_list = ['Need more help',
#  'Refund related query',
#  'Return related query',
#  'Voucher and promotion related query',
#  'Aro shahajjo chai',
#  'Payment related query',
#  'Chatbot guide',
#  'Account management shongkranto query',
#  'Voucher ebong promotion shongkranto query',
#  'Talk to Agent V3',
#  'Refund shongkranto query',
#  'Payment shongkranto query',
#  'Why is my total amount not refunded',
#  'Daraz er monthly installment plan ki',
#  'Daraz theke call korechilo kintu ami dhorte parini',
#  'Delivery timelines gulo bolben',
#  'How can I purchase a product on installments',
#  'Refund voucher timeline please',
#  'Where is your showroom',
#  'Why am I unable to return my item',
#  'When the gift card is delivered',
#  'What is dFresh',
#  'When will I receive the invoice of my order',
#  'What is Daraz Live Stream',
#  'Topups e kono transaction limit ache ki',
#  'Can I top up in my post paid number',
#  'Are there any transaction limits for top ups',
#  'Ami delivery er shomoy khali box peyechi',
#  'Amar delivery location select korte parchina keno',
#  'How can I activate EMI for my received item',
#  'Refund pawar poddhoti ti bolun',
#  'Product gulo bhinno bhabe shipped holo keno',
#  'Kibhabe Surprise box nite parbo?',
#  'How long does it take for EMI to initiate',
#  'How can I chat with the seller',
#  'refund voucher er timeline koto']



kt_list = ['How can I purchase a product on installments',
 'Refund voucher timeline please',
 'Where is your showroom',
 'Why am I unable to return my item',
 'When the gift card is delivered',
 'What is dFresh',
 'When will I receive the invoice of my order',
 'What is Daraz Live Stream',
 'Topups e kono transaction limit ache ki',
 'Can I top up in my post paid number',
 'Are there any transaction limits for top ups',
 'Ami delivery er shomoy khali box peyechi',
 'Amar delivery location select korte parchina keno',
 'How can I activate EMI for my received item',
 'Refund pawar poddhoti ti bolun',
 'Product gulo bhinno bhabe shipped holo keno',
 'Kibhabe Surprise box nite parbo?',
 'How long does it take for EMI to initiate',
 'How can I chat with the seller',
 'refund voucher er timeline koto']

In [107]:
a_chat_df[a_chat_df['Standard Knowledge Title'].isin(kt_list)].iloc[:,23:42].head(26)

Empty DataFrame
Columns: [knowledge_cate_1_name, knowledge_cate_2_name, knowledge_cate_3_name, is_session_unsatisfied, is_session_last_no answer, call_agent_by_click_shortcut, is_session_last_recommend no click, call_agent_by_intention, is_session_direct_liveagent, Contacted live agent on same day, Feedback Card Response, is_chat_recommend, is_chat_no answer, is_chat_pre/post match, live agent_session_id, Last Query Before Live Agent Session, Live Agent User Query, Live Agent Response]
Index: []

In [93]:
a_chat_df[a_chat_df['Standard Knowledge Title'].isin(kt_list)]['is_session_direct_liveagent'].value_counts()

N    1344
Name: is_session_direct_liveagent, dtype: int64

In [94]:
a_chat_df[a_chat_df['Standard Knowledge Title'] == 'Refund pawar poddhoti ti bolun'].iloc[:,23:42]

,knowledge_cate_2_name,knowledge_cate_3_name,is_session_unsatisfied,is_session_last_no answer,call_agent_by_click_shortcut,is_session_last_recommend no click,call_agent_by_intention,is_session_direct_liveagent,Contacted live agent on same day,Feedback Card Response,is_chat_recommend,is_chat_no answer,is_chat_pre/post match,live agent_session_id,Last Query Before Live Agent Session,Live Agent User Query,Live Agent Response,Feedback Type,Unsatisfied Reason
697,Bangla in English>>Returns & Refunds,Bangla in English>>Returns & Refunds>>Refunds,N,N,Y,N,N,N,Y,NaN,N,N,N,01e19af50d86419aab6b18d8df27c410,Refund pawar poddhoti ti bolun,বিকাশ নং-০১৭০৭৮৩৫৫৫০|||হুম|||20 তারিখের মধ্যে ...,ধন্যবাদ স্যার|||অবশ্যই |||বিষয়টি চেক করার জন্য...,NaN,NaN

In [177]:
# WR_KT_overview.head()
# WR_KT_overview = WR_KT_overview.iloc[[0]]
# WR_KT_overview = WR_KT_overview.rename(columns={'Chats': 'Total chat sessions:', 'Session Resolved Rate': 'Resolution Rate, RR:', 'Session No Answer Rate': 'No Answer Rate:'})
# WR_KT_overview = WR_KT_overview[['Total chat sessions:', 'Resolution Rate, RR:','Switch to Live Agent Rate', 'No Answer Rate:']]
# WR_KT_overview_report = WR_KT_overview.T
# WR_KT_overview_report
# WR_KT_overview_report = WR_KT_overview.T

In [178]:
A_KT_df.columns

Index(['Date', 'Tenant Name', 'Robot Name', 'Knowledge Type', 'Knowledge ID',
       'Knowledge Name', 'Total Sessions', 'RR%', 'SLAR%', 'UR%',
       'Week_Number'],
      dtype='object')

### Testing

In [179]:
A_KT_df.head(10)

,Date,Tenant Name,Robot Name,Knowledge Type,Knowledge ID,Knowledge Name,Total Sessions,RR%,SLAR%,UR%,Week_Number
0,2022-01-01,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,112,58.93%,29.46%,8.96%,1
1,2022-01-02,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,112,58.04%,28.57%,10.61%,2
2,2022-01-03,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,98,68.37%,22.45%,9.09%,2
3,2022-01-04,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,70,65.71%,28.57%,6.33%,2
4,2022-01-05,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,45,62.22%,24.44%,11.76%,2
5,2022-01-06,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,22,63.64%,31.82%,0.00%,2
6,2022-01-07,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,19,57.89%,15.79%,4.76%,2
7,2022-01-08,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,23,82.61%,8.70%,8.33%,2
8,2022-01-09,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,20,60.00%,25.00%,4.76%,3
9,2022-01-10,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,24,54.17%,29.17%,12.50%,3

In [180]:
A_KT_df[A_KT_df['Robot Name'] == 'BD-Daz-EN'].head(10)

,Date,Tenant Name,Robot Name,Knowledge Type,Knowledge ID,Knowledge Name,Total Sessions,RR%,SLAR%,UR%,Week_Number
0,2022-01-01,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,112,58.93%,29.46%,8.96%,1
1,2022-01-02,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,112,58.04%,28.57%,10.61%,2
2,2022-01-03,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,98,68.37%,22.45%,9.09%,2
3,2022-01-04,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,70,65.71%,28.57%,6.33%,2
4,2022-01-05,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,45,62.22%,24.44%,11.76%,2
5,2022-01-06,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,22,63.64%,31.82%,0.00%,2
6,2022-01-07,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,19,57.89%,15.79%,4.76%,2
7,2022-01-08,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,23,82.61%,8.70%,8.33%,2
8,2022-01-09,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,20,60.00%,25.00%,4.76%,3
9,2022-01-10,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,24,54.17%,29.17%,12.50%,3

In [181]:
A_KT_df.describe()

       Knowledge ID  Total Sessions  Week_Number
count  2.120000e+02      212.000000   212.000000
mean   1.000015e+09      298.566038    16.500000
std    0.000000e+00      232.746858     8.765778
min    1.000015e+09        8.000000     1.000000
25%    1.000015e+09       35.750000     9.000000
50%    1.000015e+09      307.500000    16.500000
75%    1.000015e+09      511.750000    24.000000
max    1.000015e+09      761.000000    32.000000

In [182]:
A_KT_df[A_KT_df['Robot Name'] == 'BD-Daz-EN'].head(2)

,Date,Tenant Name,Robot Name,Knowledge Type,Knowledge ID,Knowledge Name,Total Sessions,RR%,SLAR%,UR%,Week_Number
0,2022-01-01,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,112,58.93%,29.46%,8.96%,1
1,2022-01-02,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,112,58.04%,28.57%,10.61%,2

In [183]:
A_KT_df.shape

(212, 11)

In [184]:
A_KT_df.head()

,Date,Tenant Name,Robot Name,Knowledge Type,Knowledge ID,Knowledge Name,Total Sessions,RR%,SLAR%,UR%,Week_Number
0,2022-01-01,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,112,58.93%,29.46%,8.96%,1
1,2022-01-02,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,112,58.04%,28.57%,10.61%,2
2,2022-01-03,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,98,68.37%,22.45%,9.09%,2
3,2022-01-04,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,70,65.71%,28.57%,6.33%,2
4,2022-01-05,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,45,62.22%,24.44%,11.76%,2

In [185]:
#Can run only once

A_KT_df['RR%'] = A_KT_df['RR%'].str.rstrip('%').astype('float') / 100.0

A_KT_df['SLAR%'] = A_KT_df['SLAR%'].str.rstrip('%').astype('float') / 100.0

A_KT_df['UR%'] = A_KT_df['UR%'].str.rstrip('%').astype('float') / 100.0



# df['col'] = df['col'].str.rstrip('%').astype('float') / 100.0


# WR_KT_df_LC = WR_KT_df_LC.reset_index()
# WR_KT_df_EN = WR_KT_df_EN.reset_index()

In [186]:
A_KT_df['RR%']

0      0.5893
1      0.5804
2      0.6837
3      0.6571
4      0.6222
        ...
207    0.7508
208    0.6945
209    0.7147
210    0.7080
211    0.7628
Name: RR%, Length: 212, dtype: float64

### Total session Resolved

#### For EN

In [187]:
# WR_KT_df_EN['total_session_resolved'] = 0
# WR_KT_df_EN_temp =  WR_KT_df_EN

A_KT_df['total_session_resolved'] = A_KT_df['Total Sessions'] * A_KT_df['RR%'].round(1)
#     WR_KT_df_EN['total_session_resolved'][i] = WR_KT_df_EN['Total Sessions'][i] * WR_KT_df_EN['RR%'][i]

In [188]:
A_KT_df['total_session_resolved'] = A_KT_df['total_session_resolved'].astype(int)

In [189]:
A_KT_df['total_session_resolved'].head(2)

0    67
1    67
Name: total_session_resolved, dtype: int32

### Total count for switch to live agent

#### For EN

In [190]:

A_KT_df['total_switch_agent'] = A_KT_df['Total Sessions'] * A_KT_df['SLAR%'].round(1)

A_KT_df['total_switch_agent'] = A_KT_df['total_switch_agent'].astype(int)

# total_switch_agent
# WR_KT_df_EN['total_session_resolved'] = WR_KT_df_EN['total_session_resolved']

# WR_KT_df_EN['total_session_resolved'] = WR_KT_df_EN['total_session_resolved'].astype(int)

# WR_KT_df_EN['total_switch_agent'] = 0
# for i in range(len(WR_KT_df_LC)):
#     WR_KT_df_EN[''][i] = WR_KT_df_EN['sid_cnt'][i] * WR_KT_df_EN['Switch_to_Live_Agent_Rate'][i]

In [191]:
A_KT_df['total_switch_agent'].value_counts()

0      12
7      11
6      11
9      10
2       8
       ..
35      1
78      1
87      1
79      1
158     1
Name: total_switch_agent, Length: 101, dtype: int64

#### For EN

In [192]:
A_KT_df['unsatisfied_count'] = 0


A_KT_df['unsatisfied_count'] = A_KT_df['Total Sessions'] * A_KT_df['UR%'].round(1)

A_KT_df['unsatisfied_count'] = A_KT_df['unsatisfied_count'].astype(int)


# for i in range(len(WR_KT_df_EN)):
#     WR_KT_df_EN['unsatisfied_count'][i] = WR_KT_df_EN['response_count'][i] * WR_KT_df_EN['Chat_Unsatisfied_Rate'][i]

In [193]:
A_KT_df

,Date,Tenant Name,Robot Name,Knowledge Type,Knowledge ID,Knowledge Name,Total Sessions,RR%,SLAR%,UR%,Week_Number,total_session_resolved,total_switch_agent,unsatisfied_count
0,2022-01-01,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,112,0.5893,0.2946,0.0896,1,67,33,11
1,2022-01-02,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,112,0.5804,0.2857,0.1061,2,67,33,11
2,2022-01-03,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,98,0.6837,0.2245,0.0909,2,68,19,9
3,2022-01-04,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,70,0.6571,0.2857,0.0633,2,49,21,7
4,2022-01-05,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,45,0.6222,0.2444,0.1176,2,27,9,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,2022-07-27,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,614,0.7508,0.2052,0.0390,31,491,122,0
208,2022-07-28,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,527,0.6945,0.2694,0.0272,31,368,158,0
209,2022-07-29,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,361,0.7147,0.2271,0.0412,31,252,72,0
210,2022-07-30,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,500,0.7080,0.2440,0.0484,31,350,100,0
211,2022-07-31,Alime-DRZ-CC-BD,BD-Daz-EN,FAQ,1000015453,My order is delayed. What should I do,527,0.7628,0.2049,0.0223,32,421,105,0

In [194]:
A_KT_df['Total Sessions']

0      112
1      112
2       98
3       70
4       45
      ...
207    614
208    527
209    361
210    500
211    527
Name: Total Sessions, Length: 212, dtype: int64

In [195]:
A_KT_df[['Date','Total Sessions','total_session_resolved','total_switch_agent','unsatisfied_count']].tail(2)

,Date,Total Sessions,total_session_resolved,total_switch_agent,unsatisfied_count
210,2022-07-30,500,350,100,0
211,2022-07-31,527,421,105,0

### Pivot Table for

In [196]:
A_KT_df[['Date','Total Sessions','total_session_resolved','total_switch_agent','unsatisfied_count']].head(2)

,Date,Total Sessions,total_session_resolved,total_switch_agent,unsatisfied_count
0,2022-01-01,112,67,33,11
1,2022-01-02,112,67,33,11

In [197]:
A_KT_df =  pd.pivot_table(A_KT_df, values=['Total Sessions', 'total_session_resolved','total_switch_agent','unsatisfied_count'], index= ['Week_Number'], aggfunc = np.sum)
# WR_KT_df_LC_pivot = pd.pivot_table(WR_KT_df_LC, values=['Chats','sid_cnt','total_session_resolved','total_switch_agent','unsatisfied_count'], index= ['Knowledge Name'], aggfunc = np.sum)

In [198]:
A_KT_df

,Total Sessions,total_session_resolved,total_switch_agent,unsatisfied_count
Week_Number,,,,
1,112,67,33,11
2,389,253,93,33
3,179,108,39,10
4,199,115,57,8
5,240,145,59,14
6,199,137,44,4
7,245,166,44,6
8,224,144,45,11
9,192,134,34,11
10,162,120,18,15
11,295,212,68,15
12,939,789,89,21
13,1229,1037,97,19
14,1647,1150,397,140
15,2792,1901,671,181
16,4023,3096,690,234
17,3661,2926,621,105
18,4643,3712,461,0
19,3308,2697,331,0
20,2844,2234,447,0
21,3039,2267,605,48
22,2532,1832,539,40
23,2764,1976,547,208
24,2295,1693,493,35
25,2033,1505,464,0
26,3661,2559,845,51
27,4015,2808,1200,105
28,4194,3169,792,29
29,3407,2685,624,0
30,3816,2731,926,0
31,3491,2548,749,0
32,527,421,105,0

In [199]:
A_KT_df['RR%'] = (A_KT_df['total_session_resolved'] / A_KT_df['Total Sessions']) * 100
A_KT_df['RR%'] = A_KT_df['RR%'].round(decimals = 2)

In [200]:
A_KT_df['SLAR%'] = (A_KT_df['total_switch_agent'] / A_KT_df['Total Sessions']) * 100
A_KT_df['SLAR%'] = A_KT_df['SLAR%'].round(decimals = 2)

In [201]:
A_KT_df['UR%'] = (A_KT_df['unsatisfied_count'] / A_KT_df['Total Sessions']) * 100
A_KT_df['UR%'] = A_KT_df['UR%'].round(decimals = 2)

In [202]:
A_KT_df

,Total Sessions,total_session_resolved,total_switch_agent,unsatisfied_count,RR%,SLAR%,UR%
Week_Number,,,,,,,
1,112,67,33,11,59.82,29.46,9.82
2,389,253,93,33,65.04,23.91,8.48
3,179,108,39,10,60.34,21.79,5.59
4,199,115,57,8,57.79,28.64,4.02
5,240,145,59,14,60.42,24.58,5.83
6,199,137,44,4,68.84,22.11,2.01
7,245,166,44,6,67.76,17.96,2.45
8,224,144,45,11,64.29,20.09,4.91
9,192,134,34,11,69.79,17.71,5.73
10,162,120,18,15,74.07,11.11,9.26
11,295,212,68,15,71.86,23.05,5.08
12,939,789,89,21,84.03,9.48,2.24
13,1229,1037,97,19,84.38,7.89,1.55
14,1647,1150,397,140,69.82,24.10,8.50
15,2792,1901,671,181,68.09,24.03,6.48
16,4023,3096,690,234,76.96,17.15,5.82
17,3661,2926,621,105,79.92,16.96,2.87
18,4643,3712,461,0,79.95,9.93,0.00
19,3308,2697,331,0,81.53,10.01,0.00
20,2844,2234,447,0,78.55,15.72,0.00
21,3039,2267,605,48,74.60,19.91,1.58
22,2532,1832,539,40,72.35,21.29,1.58
23,2764,1976,547,208,71.49,19.79,7.53
24,2295,1693,493,35,73.77,21.48,1.53
25,2033,1505,464,0,74.03,22.82,0.00
26,3661,2559,845,51,69.90,23.08,1.39
27,4015,2808,1200,105,69.94,29.89,2.62
28,4194,3169,792,29,75.56,18.88,0.69
29,3407,2685,624,0,78.81,18.32,0.00
30,3816,2731,926,0,71.57,24.27,0.00
31,3491,2548,749,0,72.99,21.46,0.00
32,527,421,105,0,79.89,19.92,0.00

In [204]:
A_KT_df.to_clipboard()